
  <head>
    <title>Community Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  </style>
  </head>


<body>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Data</a>
      <div class="dropdown-content">
        <a href="Abuse.html">Abuse</a>
        <a href="Addictions.html">Addictions</a>
        <a href="AIDS Hepatitis C.html">AIDS Hepatitis C</a>
        <a href="Anger Management.html">Anger Management</a>
        <a href="Bereavement.html">Bereavement</a>
        <a href="Black Lives.html">Black Lives</a>
        <a href="Brain InjuryTumour.html">Brain InjuryTumour</a>
        <a href="Clothing Donations.html">Clothing Donations</a>
        <a href="Community Programs.html">Community Programs</a>
        <a href="Disability.html">Disability</a>
        <a href="Education.html">Education</a>
        <a href="Emergency Services.html">Emergency Services</a>
        <a href="Employment Services.html">Employment Services</a>
        <a href="Family Services.html">Family Services</a>
        <a href="Financial.html">Financial</a>
        <a href="Food Banks.html">Food Banks</a>
        <a href="Francophones.html">Francophones</a>
        <a href="Government.html">Government</a>
        <a href="Healthcare.html">Healthcare</a>
        <a href="Homelessness.html">Homelessness</a>
        <a href="Housing.html">Housing</a>
        <a href="Indigenous People.html">Indigenous People</a>
        <a href="Legal Assistance.html">Legal Assistance</a>
        <a href="LGBTQ2S+.html">LGBTQ2S+</a>
        <a href="Mental Health.html">Mental Health</a>
        <a href="Newcomers.html">Newcomers</a>
        <a href="Older Adults.html">Older Adults</a>
        <a href="Pregnancy.html">Pregnancy</a>
        <a href="Transportation.html">Transportation</a>
        <a href="Youth.html">Youth</a>
      </div>
    </li>
  </ul>

				<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Abuse</h2>
							
						</div>

					</div>
				</div>
	

<input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for ...">

<table border="1" class="dataframe" id="myTable">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Agency Name</th>
      <th>Program name</th>
      <th>Hours/Days</th>
      <th>Address</th>
      <th>Phone Numbers</th>
      <th>Website</th>
      <th>Service Description</th>
      <th>Additional Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>AOK FN - Naandwegamik Health Centre</td>
      <td>Community Support Worker</td>
      <td>-</td>
      <td>Aundeck Omni Kaning</td>
      <td>705-368-3171</td>
      <td>-</td>
      <td>Promotes overall health and wellness of children, families and community members</td>
      <td>-</td>
    </tr>
    <tr>
      <th>2</th>
      <td>AOK FN Family Support Services</td>
      <td>-</td>
      <td>-</td>
      <td>Aundeck Omni Kaning</td>
      <td>705-368-2228</td>
      <td>-</td>
      <td>Delivers prevention and early intervention services to high-risk children and families of the community</td>
      <td>-</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Brunswick House First Nation</td>
      <td>-</td>
      <td>-</td>
      <td>Brunswick House</td>
      <td>1-800-663-1285</td>
      <td>-</td>
      <td>Ensure the best interests, protection and well being of children and their families</td>
      <td>-</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Child, Youth &amp; Family Services Centre</td>
      <td>-</td>
      <td>-</td>
      <td>Chapleau</td>
      <td>705-864-0860 x2660</td>
      <td>-</td>
      <td>Point of access for ministry funded children’s services and provides information and referrals to other programs available to children and their families in the community</td>
      <td>-</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Children's Aid Society - Chapleau</td>
      <td>-</td>
      <td>-</td>
      <td>Chapleau</td>
      <td>705-864-0329 or 705-566-3113 (reporting)</td>
      <td>-</td>
      <td>Provides a safe, permanent, stable, loving environment free from abuse, neglect and exploitation * advocates for the necessary resources to meet children's needs</td>
      <td>-</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Children's Aid Society District Sudbury Manitoulin</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-566-3113</td>
      <td>-</td>
      <td>Provides protection and residential care for children that cannot be assured safety in their own home</td>
      <td>-</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Children's Aid Society District Sudbury Manitoulin</td>
      <td>-</td>
      <td>-</td>
      <td>Espanola/Manitoulin</td>
      <td>1-877-272-4334</td>
      <td>-</td>
      <td>Provides protection and residential care for children that cannot be assured safety in their own home</td>
      <td>-</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Children's Community Network - Chapleau</td>
      <td>-</td>
      <td>-</td>
      <td>Chapleau</td>
      <td>1-877-272-4336</td>
      <td>-</td>
      <td>Provides service coordination for children with complex needs who require multiple services and assists families in navigating services and systems. Provides Direct Funded Respite for families of children’s with a developmental and/or physical disability in need of temporary relief from the physical and emotional demands involved in caring for a child with special needs. Coordinates the Alternative Dispute Resolution Program (ADR), works with a coordinator or mediator to create a plan for the child that is acceptable for the family and Child Protective Services.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Children's Community Network</td>
      <td>-</td>
      <td>-</td>
      <td>Espanola</td>
      <td>705-869-1564</td>
      <td>-</td>
      <td>Acts as a central intake agency for voluntary children's services funded by the Ministry of Children, Community and Social Services (MCCSS) in the Sudbury and Manitoulin Districts</td>
      <td>-</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Children's Community Network</td>
      <td>-</td>
      <td>-</td>
      <td>Little Current</td>
      <td>705-368-2002</td>
      <td>-</td>
      <td>Acts as a central intake agency for voluntary children's services funded by the Ministry of Children, Community and Social Services (MCCSS) in the Sudbury and Manitoulin District</td>
      <td>-</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Compass Boussole Akii-Izhinoogan Child and Family Services</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Island</td>
      <td>705-368-2002</td>
      <td>-</td>
      <td>Offers a variety of programs and services including the following: Child and Family Intervention Program (CFI), Crisis Intervention Service, Day Treatment, Positive Parenting Program (Triple P), Psychology Services, Resource Program, Supervised Access Program (SAP).</td>
      <td>-</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Compass Boussole Akii-Izhinoogan</td>
      <td>Child and Family Services</td>
      <td>-</td>
      <td>Espanola</td>
      <td>705-869-1564</td>
      <td>-</td>
      <td>Offers a variety of programs and services including the following: Child and Family Intervention Program (CFI), Crisis Intervention Service, Day Treatment, Positive Parenting Program (Triple P), Psychology Services, Resource Program, Supervised Access Program (SAP).</td>
      <td>-</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Manitoulin Family Resources</td>
      <td>Building Bridges Program</td>
      <td>-</td>
      <td>Manitoulin Island</td>
      <td>705-377-5160</td>
      <td>-</td>
      <td>This program offers age-specific group programming to children who have been exposed to violence against women in their homes.  Programming is available through “closed groups” where children of a similar age can be together in a confidential  and safe setting to learn about abuse and staying safe, and that abuse is not their fault. These truths are learned through activities that inspire healing in a safe and fun way.  An interview is held with a counsellor prior to a child starting this program to ensure that the child will be placed into a group that feels safe for him or her. Groups are held for children between the ages of 4 and 16. When possible, a concurrent group is held for the mothers participating in the Building Bridges Program. This allows moms to know exactly how information is shared with the children and to have the support of one another as they are facing the challenges in helping their children overcome exposure to violence.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Nogdawindamin Family and Community Services</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-946-3700</td>
      <td>-</td>
      <td>Aims to strengthen and support families, children, youth and communities\n Provides programs that meet community specific needs and are rooted in traditional teachings. Promotes cultural awareness and identity, language, customs and beliefs\n Relies on Elders to play a prominent role in teaching.\n Prevention and support services include:Community prevention and education;\n Early intervention and support; Crisis support and service coordination; Healing and restoration; Family and parenting counselling; Advocacy by attending child welfare investigations on-reserve with the Children's Aid Society (CAS); Assistance to resolve child welfare crises and co-operatively plan out actions designed to divert future crises.\n Activities may include: Community feasts and celebrations; Recreational activities and events such as powwows and summer festivals; Educational and learning opportunities such as reading programs, sewing classes and cooking classes.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Nogdawindamin Family and Community Services</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Island</td>
      <td>705-946-3700</td>
      <td>-</td>
      <td>Aims to strengthen and support families, children, youth and communitiesProvides programs that meet community specific needs and are rooted in traditional teachings. Promotes cultural awareness and identity, language, customs and beliefs - Relies on Elders to play a prominent role in teaching.\n Prevention and support services include:Community prevention and education;\n Early intervention and support; Crisis support and service coordination; Healing and restoration; Family and parenting counselling; Advocacy by attending child welfare investigations on-reserve with the Children's Aid Society (CAS); Assistance to resolve child welfare crises and co-operatively plan out actions designed to divert future crises.\n Activities may include: Community feasts and celebrations; Recreational activities and events such as powwows and summer festivals; Educational and learning opportunities such as reading programs, sewing classes and cooking classes.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Sheg FN -</td>
      <td>Family and Community Support Program</td>
      <td>-</td>
      <td>Sheguindah</td>
      <td>705-368-1150</td>
      <td>-</td>
      <td>Administers child welfare prevention services in collaboration with Kina Gbezhgomi Child and Family Services located in Wikwemikong</td>
      <td>-</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Wiikwemkoong Band Representatives in Child Advocacy</td>
      <td>-</td>
      <td>-</td>
      <td>19A Complex Drive, WUT Administrative Complex\r\nWikwemikong, ON</td>
      <td>705-859-3122</td>
      <td>-</td>
      <td>We advocate for any child welfare matter 24/7 – 7 days a week, including holidays. Our Mission will oversee, monitor and advocate child’s matter.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Wiikwemkoong Unceded Territory -</td>
      <td>Prevention Family Services</td>
      <td>-</td>
      <td>Wiikwemkoong</td>
      <td>705-859-3122</td>
      <td>-</td>
      <td>Provides supports and services to strengthen community families</td>
      <td>-</td>
    </tr>
    <tr>
      <th>19</th>
      <td>WRFN -</td>
      <td>Child and Family Well Being</td>
      <td>-</td>
      <td>Whitefish River First Nation</td>
      <td>705-285-4354 toll-free 800-461-3583</td>
      <td>-</td>
      <td>Delivers prevention and early intervention services to high-risk children and families of the community</td>
      <td>-</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Kina Gbezhgomi Child and Family Services</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-859-2100 705-560-3988</td>
      <td>-</td>
      <td>Our services ensure children are protected and stay connected with their culture, language and community while strengthening family and community relationships.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Kina Gbezhgomi Child and Family Services</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Island</td>
      <td>705-859-2100</td>
      <td>-</td>
      <td>Designed specifically to service seven First Nation communities to protect children and encourage family stability</td>
      <td>-</td>
    </tr>
    <tr>
      <th>22</th>
      <td>COUNSELLING FOR ABUSED PERSONS</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Centre Victoria pour Femmes</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-670-2517</td>
      <td>-</td>
      <td>Assists Francophone women who have experienced any form of violence</td>
      <td>-</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Centre Victoria pour Femmes</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-670-2517</td>
      <td>-</td>
      <td>Assists Francophone women who have experienced any form of violence</td>
      <td>-</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Fem'aide - Helpline</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>1-877-336-2433 (1-877-FEM-AIDE)</td>
      <td>-</td>
      <td>Offers French-speaking women experiencing gender-based violence support, information and referrals to appropriate services in their community 24 hours a day, seven days a week\n Can also respond to inquiries made by relatives of abused women</td>
      <td>-</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Greater Sudbury Police Service</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-675-9171</td>
      <td>-</td>
      <td>Deals with the prevention of crime, investigation of criminal activities and enforcement of law and order. Victim Assistance Unit provides victims and witnesses with support, information, and assistance for victims of domestic assault.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Haven House Shelter Manitoulin</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Island</td>
      <td>705-377-5160 \nTOLL FREE 1-800-465-6788</td>
      <td>-</td>
      <td>Provides safe emergency accommodation to all self-identified women 16 years of age and older, with or without dependents, who experience or are at risk of experiencing violence and/or abuse. Women are supported by residential counsellors in developing client-led plans for their future, while also addressing current needs with respect to safety planning and risk assessment, legal and financial issues, and counselling support.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Health Sciences North - Violence Intervention and Prevention Program</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-675-4743</td>
      <td>-</td>
      <td>Provides 24-hour emergency services to adults experiencing immediate, intimate partner violence and sexual assault. Services include: Community liason; Court testimony; Forensic documentation and photography; Individual or group counselling; Medical assessment and treatment; Pregnancy testing; Safety planning and risk assessment; Sexually Transmitted infection assessment and treatment.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>29</th>
      <td>HSN Pediatric Abuse Referral and Evaluation</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-675-4743</td>
      <td>-</td>
      <td>Provides emergency medical treatment and counselling for children 16 and under who have been victims of sexual assault or physical abuse. These services include: Counselling, Consultation, Medical/forensic assessment and treatment, Referrals to Children's Aid Society (CAS)</td>
      <td>-</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Inner City Home</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-675-7550</td>
      <td>-</td>
      <td>Counselling for people on a limited income</td>
      <td>-</td>
    </tr>
    <tr>
      <th>31</th>
      <td>M'Chigeeng Health Centre/M'Nendamowin Health Services</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Island</td>
      <td>705-377-5347\r\n</td>
      <td>-</td>
      <td>The service delivery model includes a blend of both Traditional and Western forms of intervention. Services include both direct and indirect mental health and addictions services; Direct Services are those being provided through clinical interventions such as counselling, advocacy, referral and support. Indirect Services are those being provided through mental health promotion, community based prevention activities and public education and awareness.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Manitoulin Family Resources</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Island</td>
      <td>705-377-5160 \nTOLL FREE 1-800-465-6788</td>
      <td>-</td>
      <td>Manitoulin Family Resources offers flexible, trauma-informed counselling services in the areas of woman abuse, sexual assault, sexual abuse, and addictions’ support services. Counselling services are free and confidential and are offered in agency offices or an alternate safe and secure setting throughout the communities of Manitoulin, Espanola and the North Shore.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Manitoulin Mental Health Clinic</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Island</td>
      <td>705-282-1519\r\n</td>
      <td>-</td>
      <td>Manitoulin Mental Health Clinic is a Private rehab located in Little Current, Ontario. Manitoulin Mental Health Clinic specializes in the treatment of mental health, substance, drug and alcohol abuse.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Metis Nation of Ontario (MNO)</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-671-9855</td>
      <td>http://www.metisnation.org/</td>
      <td>- Provides support on-site immediately if needed, to victims of domestic violence and crime. Services include connecting victims to appropriate support services and agencies, providing support plan and education to the effected victims. '- Also follows up with the agencies to assist the victim in getting full support and resources from the appropriate services offered.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Nookomisnaag Shelter-\nWikwemikoing Health Centre</td>
      <td>-</td>
      <td>-</td>
      <td>Wikwemikong</td>
      <td>705-859-1543</td>
      <td>www.wikyhealth.ca/pages/nookomisnaang-shelter</td>
      <td>Safety, protection and shelter in a supportive healing environment; \nintervention and wholistic crisis counselling (group/individual) for \nvictims of family violence (women, men, youth, women with \nchildren, men with children, families), traditional teaching circles; \nan understanding of the cycle of violence; promotion of health and\n personal self care for wellness, prevention of family violence; \nreferral and advocacy while they are in transition.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Sudbury and Area Victim Services - Victim Crisis Assistance</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-522-6970</td>
      <td>-</td>
      <td>Offers on-site early intervention and crisis intervention. Provides needs assessment, safety planning and referrals to community services. Offers enhanced support for vulnerable victims. Provides assistance with applications to VQRP+</td>
      <td>-</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Sudbury Coalition to End Violence Against Women</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>1-800-461-0133</td>
      <td>-</td>
      <td>Actively works towards eliminating the social, political and economic conditions that perpetuate violence against women in the City of Greater Sudbury, while respecting special needs of children and men survivors. Committed to ensuring that services are accessible by supporting existing resources, identifying gaps and promoting prevention through education and awareness</td>
      <td>-</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Sudbury Counselling Centre - Children Exposed to Violence Against Women Program</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-524-9629</td>
      <td>-</td>
      <td>Provides group counselling and support services to children who have been exposed to abuse, power and/or control. Offers support services to mothers of children in the program to encourage understanding and support</td>
      <td>-</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Sudbury Counselling Centre - Partner Assault Response</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-524-9629</td>
      <td>-</td>
      <td>Offers a 12 week group education and counselling program on domestic violence and non-abusive ways of resolving conflict and Offers victims/partners of the offender support including safety planning, referrals to community resources and information on offender's progress</td>
      <td>-</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Sudbury Counselling Centre - Partner Assault Response</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-524-9629</td>
      <td>-</td>
      <td>Offers a 12 week group education and counselling program on domestic violence and non-abusive ways of resolving conflict\n Offers victims/partners of the offender support including safety planning, referrals to community resources and information on offender's progress</td>
      <td>-</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Sudbury Counselling Centre - Violence Against Women Intervention Program</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-524-9629</td>
      <td>-</td>
      <td>Provides individual and group counselling for women who have experienced abuse within an intimate relationship. Offers advocacy and support. Helps women develop a safety plan for themselves and their children</td>
      <td>-</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Sudbury Counselling Centre -Violence Against Women Support Program</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-524-9629</td>
      <td>-</td>
      <td>Provides individual and group counselling for women who have experienced abuse within an intimate relationship. Offers advocacy and support. Helps women develop a safety plan for themselves and their children</td>
      <td>-</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Sudbury Sexual Assault Centre - Women's Sexual Assault Support Services - Voices for Women</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-671-5495</td>
      <td>-</td>
      <td>Provides community-based, ongoing, longer-term sexual assault counselling and support services for women including: Crisis intervention; Individual and group counselling; Safety planning; Community outreach; Court support; Drop-in resource room; INformation and referral to community resources; Public education and training.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Women’s Resource Centre- Cambrian College</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-566-8101, ext. 7311</td>
      <td>https://safe.cambriancollege.ca/findsupport</td>
      <td>- Provides counselling, assists with safety plans to students facing sexual violence on or off campus. '- Provides on-campus psychological and health support, referrals to other supports such as medicals services if needed and assists with safe living for the individual.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>45</th>
      <td>YWCA Genevra House</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-674-2210</td>
      <td>-</td>
      <td>Operates an emergency shelter for women who have been victims of physical, emotional, sexual or financial abuse, and their children</td>
      <td>-</td>
    </tr>
    <tr>
      <th>46</th>
      <td>YWCA Sudbury - Brookwood Apartments</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-673-4754 ext 237</td>
      <td>-</td>
      <td>Operates a 10-unit, rent-geared-to-income apartment building. Provides access to programs and services offered through Genevra House</td>
      <td>-</td>
    </tr>
    <tr>
      <th>47</th>
      <td>YWCA Sudbury - Child and Youth Program</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-673-4754</td>
      <td>-</td>
      <td>Provides support to both children and their mothers and offers practical assistance with the following: Staying safeAfter-school activitiesCoaching in mothering after abuseCoaching in cooperative play and peaceful solutions for home and school</td>
      <td>-</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Noojmowing Teg Health Centre</td>
      <td>-</td>
      <td>-</td>
      <td>Espanola/Manitoulin Island</td>
      <td>705-368-2182\r\n</td>
      <td>-</td>
      <td>Sexual &amp; Domestic Violence Services – Ka Naad Maa Go provides wraparound, confidential care for individuals who have experienced sexual and/or domestic violence at any time in their lives. We offer services to people ages 12 and over of all gender identities. Services are available to the \n indigenous and non-indigenous populations across the District of Manitoulin Island.</td>
      <td>To access services at this time or in the future please present to Manitoulin Health Centre Emergency  Department and ask for the SDVS On-Call Nurse to be contacted or contact us at: (705) 368-1369</td>
    </tr>
    <tr>
      <th>49</th>
      <td>YWCA Sudbury - Family Court Support Worker Program</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-673-4754</td>
      <td>-</td>
      <td>Provides information on the family court processAssists in documenting the history of abuse and accessing Legal Aid for family court proceedingsOffers referrals to specialized services and supports in the communityTeaches safety planning and assists with the development of safety plansAccompanies victims to court proceedings when appropriate</td>
      <td>-</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Manitoulin Northshore Victim Services</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin</td>
      <td>705-370-3378\n1-866-392-7733</td>
      <td>-</td>
      <td>Offers on-site early intervention and crisis intervention. Provides needs assessment, safety planning and referrals to community services. Offers enhanced support for vulnerable \nvictims. Provides assistance with applications to VQRP+</td>
      <td>-</td>
    </tr>
    <tr>
      <th>51</th>
      <td>CRISIS LINES FOR ABUSED PERSONS</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>52</th>
      <td>CHADWIC HOME</td>
      <td>-</td>
      <td>-</td>
      <td>Chapleau, Hornepayne, Algoma District</td>
      <td>1-800-461-2242</td>
      <td>www.chadwichome.com</td>
      <td>CHADWIC Home provides free temporary emergency shelter and support services 24 hours a day / 7 days a week for women who have or are experienceing abuse and violence</td>
      <td>-</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Assaulted Women's Helpline</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>1-866-863-0511</td>
      <td>-</td>
      <td>Telephone and online (chat) crisis counselling, emotional support, information and referrals to emergency shelters, legal information and community services, as well as culturally appropriate resources for abused women * liaison with diverse communities * confidential and anonymous</td>
      <td>-</td>
    </tr>
    <tr>
      <th>54</th>
      <td>ConnexOntario</td>
      <td>-</td>
      <td>-</td>
      <td>Ontario-wide</td>
      <td>1-866-531-2600</td>
      <td>http://www.connexontario.ca</td>
      <td>Telephone service providing confidential information about addiction, mental health and problem gambling resources in Ontario, including how to access them. Web chat with information and referral specialist available * email form available on website * operated by ConnexOntario Health Services Information</td>
      <td>-</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Fem'aide - Helpline</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>1-877-336-2433 (1-877-FEM-AIDE)</td>
      <td>-</td>
      <td>Offers French-speaking women experiencing gender-based violence support, information and referrals to appropriate services in their community 24 hours a day, seven days a week\n Can also respond to inquiries made by relatives of abused women</td>
      <td>-</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Health Canada - FN and Inuit Health Branch - Hope for Wellness Health Line</td>
      <td>-</td>
      <td>-</td>
      <td>Canada-wide</td>
      <td>1-855-242-3310</td>
      <td>http://www.canada.ca/en/health-canada/services/first-nations-inuit-health/health-promotion/mental-health-wellness.html</td>
      <td>Crisis intervention telephone support for Indigenous people * culturally competent * available daily 24 hours, seven days a week * recommendations to follow-up services * Web chat available in English and French, as well as Cree, Ojibway and Inuktitut on request</td>
      <td>-</td>
    </tr>
    <tr>
      <th>57</th>
      <td>HSN Crisis Intervention Services</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury-Manitoulin Region</td>
      <td>1-877-841-1101</td>
      <td>-</td>
      <td>Crisis Services are free for people living or visiting in the Sudbury &amp; Manitoulin Districts. We work with individuals of all ages and with your family and other supports if you agree to have them involved. We will help you find solutions to the issues you face and provide brief counselling and referral to other programs or agencies than can help you.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>58</th>
      <td>HSN Crisis Intervention Services- Mental Health Help Line</td>
      <td>-</td>
      <td>M-F 8:30a-4:30p</td>
      <td>Manitoulin Island</td>
      <td>705-368-0756; after hours 877-841-1101 24/7/365\n</td>
      <td>-</td>
      <td>Office Hours:  Monday to Friday 8:30 a.m. to 4:30 p.m.\n\nAfter hours phone support is provided by calling the \nToll free: 1.877.841.1101 (24 hour hotline-365 days/year\n\n</td>
      <td>-</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Kids Help Phone</td>
      <td>-</td>
      <td>-</td>
      <td>Canada-wide</td>
      <td>1-800-668-6868 (phone) or text HOME to 686868. for kids of military families, text CAFKIDS to 686868</td>
      <td>-</td>
      <td>Confidential, anonymous phone and internet counselling and referral for children and youth * website offers online counselling and information on youth-related topics like bullying, dating, family, friendship and health * public education program</td>
      <td>-</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Manitoulin Family Resources</td>
      <td>-</td>
      <td>24/7/365</td>
      <td>Manitoulin</td>
      <td>705-377-5160   1-800-465-6788</td>
      <td>-</td>
      <td>Our crisis line offers confidential support, referrals, safety planning and information to women 24 hours a day, 7 days a week.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Manitoulin Northshore Victim Services</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Island</td>
      <td>705-370-3378</td>
      <td>-</td>
      <td>Offers on-site early intervention and crisis intervention</td>
      <td>-</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Northern Initiative for Social Action - WARM line</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury-Manitoulin Region</td>
      <td>1-866-856-9276</td>
      <td>-</td>
      <td>NISA is an organization run by and for consumers of mental health services. We develop occupational skills, nurture self-confidence and provide resources for recovery, by creating opportunities for participants to contribute to their own well-being and that of their community.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Support Services for Male Survivors of Sex Abuse</td>
      <td>-</td>
      <td>-</td>
      <td>Canada-wide</td>
      <td>1-866-887-0015</td>
      <td>-</td>
      <td>Provides access to specialized services for male survivors of sexual abuse * toll-free number provides 24 hour support in many languages for crisis and referral services</td>
      <td>-</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Trans Lifeline</td>
      <td>-</td>
      <td>-</td>
      <td>Canada-wide</td>
      <td>1-877-330-6366</td>
      <td>http://www.translifeline.org</td>
      <td>Non-profit organization which provides crisis hotline for transgender people staffed by transgender people * volunteer operators</td>
      <td>-</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Victim Support Line</td>
      <td>-</td>
      <td>-</td>
      <td>Ontario-wide</td>
      <td>1-888-579-2888</td>
      <td>-</td>
      <td>Victims of crime and their families have access to a wide range of services, including counselling, financial assistance and other supports.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>66</th>
      <td>YWCA Genevra House Abuse Line</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-674-2210 and 1-800-461-0133</td>
      <td>-</td>
      <td>Operates an emergency shelter for women who have been victims of physical, emotional, sexual or financial abuse, and their children. Supports older women who are escaping abuse from a live-in caregiver. Operates Brookwood Apartments. Offers a variety of support services including: Crisis intervention; Counselling to women and children; Referrals to other resources; Safety planning; Transitional and housing support; Family Court Support Worker Program.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Ontario Minstry of the Attorney General-\nVictim/Witness Assistance Program</td>
      <td>-</td>
      <td>-</td>
      <td>Gore Bay</td>
      <td>705-282-1923</td>
      <td>-</td>
      <td>Provides financial and court-based supports to enable victims of crime and families of homicide victims to attend court, including:\r\nTravel arrangements and expenses\r\nLanguage interpretation\r\nReal-time captioning or other equipment for victims with disabilities</td>
      <td>-</td>
    </tr>
    <tr>
      <th>68</th>
      <td>SEXUAL ASSULT SUPPORT</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Centre Victoria pour Femmes</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-670-2517</td>
      <td>-</td>
      <td>Assists Francophone women who have experienced any form of violence</td>
      <td>-</td>
    </tr>
    <tr>
      <th>70</th>
      <td>Health Sciences North - Violence Intervention and Prevention Program</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-675-4743</td>
      <td>-</td>
      <td>Provides 24-hour emergency services to adults experiencing immediate, intimate partner violence and sexual assault. Services include: Community liason; Court testimony; Forensic documentation and photography; Individual or group counselling; Medical assessment and treatment; Pregnancy testing; Safety planning and risk assessment; Sexually Transmitted infection assessment and treatment.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>71</th>
      <td>HSN Pediatric Abuse Referral and Evaluation</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-675-4743</td>
      <td>-</td>
      <td>Provides emergency medical treatment and counselling for children 16 and under who have been victims of sexual assault or physical abuse. These services include: Counselling, Consultation, Medical/forensic assessment and treatment, Referrals to Children's Aid Society (CAS)</td>
      <td>-</td>
    </tr>
    <tr>
      <th>72</th>
      <td>Manitoulin Family Resources</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Island</td>
      <td>705-377-5160 \nTOLL FREE 1-800-465-6788</td>
      <td>-</td>
      <td>To support individuals and families by providing resources, advocacy and education through the agency’s three program areas of Violence Against Women Prevention,</td>
      <td>-</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Manitoulin Family Resources - Mindemoya - Survivors of Sexual Assault/Trauma and Addictions/Violence Against Women Prevention Program</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Island/ Mindemoya</td>
      <td>1-800-465-6788</td>
      <td>-</td>
      <td>An emergency women's shelter and 24-hour crisis line are available if needed. Program provides therapeutic counselling and support to victims of sexual assault, sexual abuse and historical sexual assault. Model of service is from a feminist perspective, and is client-centered. Children less than 12 years of age will be accepted into the program with parental/guardian consent.</td>
      <td>shelter is women/children only</td>
    </tr>
    <tr>
      <th>74</th>
      <td>SAVS-Sudbury Area Victim Services</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-522-6970</td>
      <td>-</td>
      <td>Provides a 24/7 community based service that provides immediate short-term crisis intervention services to persons affected by crime, tragedy and disaster. The SAVS team of professional staff and volunteer crisis responders provide emotional support, practical assistance and information and referrals to community-based agencies.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>75</th>
      <td>Sudbury Counselling Centre - Support Services for Male Survivors</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-524-9629</td>
      <td>-</td>
      <td>Provides free and confidential counselling support to men who have experienced sexual abuse or assault and Helps men develop positive coping skills</td>
      <td>-</td>
    </tr>
    <tr>
      <th>76</th>
      <td>Sudbury Sexual Assault Centre - Women's Sexual Assault Support Services - Voices for Women</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-671-5495</td>
      <td>-</td>
      <td>Provides community-based, ongoing, longer-term sexual assault counselling and support services for women including: Crisis intervention; Individual and group counselling; Safety planning; Community outreach; Court support; Drop-in resource room; INformation and referral to community resources; Public education and training.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>77</th>
      <td>SHELTER FOR ABUSED PERSONS</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>78</th>
      <td>CHADWIC HOME</td>
      <td>-</td>
      <td>-</td>
      <td>Chapleau, Hornepayne, Algoma District</td>
      <td>1-800-461-2242</td>
      <td>www.chadwichome.com</td>
      <td>CHADWIC Home provides free temporary emergency shelter and support services 24 hours a day / 7 days a week for women who have or are experienceing abuse and violence</td>
      <td>-</td>
    </tr>
    <tr>
      <th>79</th>
      <td>Haven House Shelter Manitoulin</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Island</td>
      <td>705-377-5160 \nTOLL FREE 1-800-465-6788</td>
      <td>-</td>
      <td>Provides safe emergency accommodation to all self-identified women 16 years of age and older, with or without dependents, who experience or are at risk of experiencing violence and/or abuse. Women are supported by residential counsellors in developing client-led plans for their future, while also addressing current needs with respect to safety planning and risk assessment, legal and financial issues, and counselling support.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>80</th>
      <td>Nookomisnaag Shelter-\nWikwemikoing Health Centre</td>
      <td>-</td>
      <td>-</td>
      <td>Wikwemikong</td>
      <td>705-859-1543</td>
      <td>www.wikyhealth.ca/pages/nookomisnaang-shelter</td>
      <td>Safety, protection and shelter in a supportive healing environment; intervention and wholistic crisis counselling (group/individual) for victims of family violence (women, men, youth, women with children, men with children, families), traditional teaching circles; an understanding of the cycle of violence; promotion of health and personal self care for wellness, prevention of family violence; referral and advocacy while they are in transition.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>81</th>
      <td>YWCA Genevra House</td>
      <td>-</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-674-2210</td>
      <td>-</td>
      <td>Operates an emergency shelter for women who have been victims of physical, emotional, sexual or financial abuse, and their children</td>
      <td>-</td>
    </tr>
    <tr>
      <th>82</th>
      <td>VICTIMS OF ABUSE SUPPORT PROGRAMS</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>83</th>
      <td>Manitoulin Northshore Victim Services</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin</td>
      <td>705-370-3378\n1-866-392-7733</td>
      <td>-</td>
      <td>Offers on-site early intervention and crisis intervention. Provides needs assessment, safety planning and referrals to community services. Offers enhanced support for vulnerable victims. Provides assistance with applications to VQRP+</td>
      <td>-</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Building Bridges Program-\n Manitoulin Family Resources</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Island</td>
      <td>705-368-3400\n</td>
      <td>http://www.mfresources.net/\nviolence-women-prevention/</td>
      <td>This program offers age-specific group programming to children who have been exposed to violence against women in their homes. When possible, a concurrent group is held for the mothers participating in the Building Bridges Program. This allows moms to know exactly how information is shared with the children and to have the support of one another as they are facing the challenges in helping their children overcome exposure to violence.  The mom’s group is also a closed group, which allows for the building of trust and friendship as the weeks unfold.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>85</th>
      <td>Mothers in Mind- \nManitoulin Family Resources</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Island</td>
      <td>705-368-3400\n</td>
      <td>-</td>
      <td>“Mothers in Mind” is a trauma-informed parenting group for moms who have been victims of trauma or violence in the past. Moms attend the parenting group with their infants and preschoolers with other moms who have faced similar challenges and want to focus on being empowered parents.  Each session provides child development materials such as children’s books that moms take home at the end. Mothers in Mind is also a closed group with a trained facilitator.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>86</th>
      <td>Noojmowing Teg Health Centre</td>
      <td>-</td>
      <td>-</td>
      <td>Espanola/Manitoulin Island</td>
      <td>705-368-2182\r\n</td>
      <td>-</td>
      <td>Sexual &amp; Domestic Violence Services – Ka Naad Maa Go provides wraparound, confidential care for individuals who have experienced sexual and/or domestic violence at any time in their lives. We offer services to people ages 12 and over of all gender identities. Services are available to the indigenous and non-indigenous populations across the District of Manitoulin Island.</td>
      <td>To access services at this\n time or in the future please\n present to Manitoulin Health\n Centre Emergency\n Department and ask for the\n SDVS On-Call Nurse to be\n contacted or contact us at:\n (705) 368-1369</td>
    </tr>
    <tr>
      <th>87</th>
      <td>Nookomisnaag Shelter-\nWikwemikoing Health Centre</td>
      <td>-</td>
      <td>-</td>
      <td>Wikwemikong</td>
      <td>705-859-1543</td>
      <td>www.wikyhealth.ca/pages/nookomisnaang-shelter</td>
      <td>Safety, protection and shelter in a supportive healing environment; intervention and wholistic crisis counselling (group/individual) for victims of family violence (women, men, youth, women with children, men with children, families), traditional teaching circles; an understanding of the cycle of violence; promotion of health and personal self care for wellness, prevention of family violence; referral and advocacy while they are in transition.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>88</th>
      <td>Ontario Minstry of the Attorney General-\nVictim/Witness Assistance Program</td>
      <td>-</td>
      <td>-</td>
      <td>Gore Bay</td>
      <td>705-282-1923</td>
      <td>-</td>
      <td>Provides financial and court-based supports to enable victims of crime and families of homicide victims to attend court, including: Travel arrangements and expenses; Language interpretation; Real-time captioning or other equipment for victims with disabilities</td>
      <td>-</td>
    </tr>
    <tr>
      <th>89</th>
      <td>Wiikwemkoong Band Representatives in Child Advocacy</td>
      <td>-</td>
      <td>-</td>
      <td>19A Complex Drive, WUT Administrative Complex\r\nWikwemikong, ON</td>
      <td>705-859-3122</td>
      <td>-</td>
      <td>We advocate for any child welfare matter 24/7 – 7 days a week, including holidays. Our Mission will oversee, monitor and advocate child’s matter.</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script>
		function searchTable() {
			var input, filter, found, table, tr, td, i, j;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td");
				for (j = 0; j < td.length; j++) {
					if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
						found = true;
					}
				}
				if (found) {
					tr[i].style.display = "";
					found = false;
				} else {
					tr[i].style.display = "none";
				}
			}
		}
		</script>
</body>
</html>
