
  <head>
    <title>Community Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  </style>
  </head>


<body>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Data</a>
      <div class="dropdown-content">
        <a href="Abuse.html">Abuse</a>
        <a href="Addictions.html">Addictions</a>
        <a href="AIDS Hepatitis C.html">AIDS Hepatitis C</a>
        <a href="Anger Management.html">Anger Management</a>
        <a href="Bereavement.html">Bereavement</a>
        <a href="Black Lives.html">Black Lives</a>
        <a href="Brain InjuryTumour.html">Brain InjuryTumour</a>
        <a href="Clothing Donations.html">Clothing Donations</a>
        <a href="Community Programs.html">Community Programs</a>
        <a href="Disability.html">Disability</a>
        <a href="Education.html">Education</a>
        <a href="Emergency Services.html">Emergency Services</a>
        <a href="Employment Services.html">Employment Services</a>
        <a href="Family Services.html">Family Services</a>
        <a href="Financial.html">Financial</a>
        <a href="Food Banks.html">Food Banks</a>
        <a href="Francophones.html">Francophones</a>
        <a href="Government.html">Government</a>
        <a href="Healthcare.html">Healthcare</a>
        <a href="Homelessness.html">Homelessness</a>
        <a href="Housing.html">Housing</a>
        <a href="Indigenous People.html">Indigenous People</a>
        <a href="Legal Assistance.html">Legal Assistance</a>
        <a href="LGBTQ2S+.html">LGBTQ2S+</a>
        <a href="Mental Health.html">Mental Health</a>
        <a href="Newcomers.html">Newcomers</a>
        <a href="Older Adults.html">Older Adults</a>
        <a href="Pregnancy.html">Pregnancy</a>
        <a href="Transportation.html">Transportation</a>
        <a href="Youth.html">Youth</a>
      </div>
    </li>
  </ul>

				<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Brain Injurytumour</h2>
							
						</div>

					</div>
				</div>
	

<input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for ...">

<table border="1" class="dataframe" id="myTable">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Category</th>
      <th>Service Name</th>
      <th>Service Location</th>
      <th>Contact</th>
      <th>Service Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>-</td>
      <td>Brain Injury Association</td>
      <td>Sudbury</td>
      <td>705-670-0200 or 1-800-263-5404</td>
      <td>Supports the Greater City of Sudbury with services such as, monthly support groups, survivor social events, helmet awareness program, annual golf tournament, annual newsletter, peer mentoring program, resource centre and provincial conference</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-</td>
      <td>Brain Tumour Support Group</td>
      <td>Sudbury</td>
      <td>1-800-265-5106 x 234</td>
      <td>Opportunity for people with a brain tumour and their loved ones to share experiences and gain peer support in a safe and relaxed atmosphere. Anyone affected by a brain tumour (survivors, patients, caregivers and loved ones) can attend</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-</td>
      <td>Outpatient Brain Injury Rehabilitation Services (HSN, OBIRS)</td>
      <td>Sudbury</td>
      <td>705. 523.7100 x 7298 1.866.469.0822 x 7298</td>
      <td>Provides outpatient rehabilitation services for adult clients and families who have been diagnosed with an acquired brain injury</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-</td>
      <td>March of Dimes Canada</td>
      <td>Sudbury</td>
      <td>705-671-3188</td>
      <td>MODC is a Not-For-Profit Community Service Organization offering Assisted Living Services to Individuals living with the effects of Brain Injury through Support and Social Groups; In-home Outreach programs, Congregate Complex Care Homes offering 24-hour care; as well as Supportive Housing with intensive daily supports.  MODC Assisted Living Services also supports Older Adults to remain in their homes in designated areas throughout the community by providing in home personal care supports.</td>
    </tr>
    <tr>
      <th>5</th>
      <td>-</td>
      <td>Northern Lights Program</td>
      <td>Sudbury</td>
      <td>705-525-2594</td>
      <td>Designed for people who have cognitive deficits as a result of Acquired Brain Injury (ABI), Subdural Hemorrhage (Stroke), Brain Tumour, Anoxic events (lack of oxygen), and Brain Infections</td>
    </tr>
    <tr>
      <th>6</th>
      <td>-</td>
      <td>March of Dimes Canada</td>
      <td>Sudbury</td>
      <td>1-877-369-4867</td>
      <td>Provides programming and financial assistance in making modifications to homes and vehicles for people with physical, mental, and cognitive disabilities</td>
    </tr>
  </tbody>
</table>
	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script>
		function searchTable() {
			var input, filter, found, table, tr, td, i, j;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td");
				for (j = 0; j < td.length; j++) {
					if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
						found = true;
					}
				}
				if (found) {
					tr[i].style.display = "";
					found = false;
				} else {
					tr[i].style.display = "none";
				}
			}
		}
		</script>
</body>
</html>
