
  <head>
    <title>Community Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  </style>
  </head>


<body>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Data</a>
      <div class="dropdown-content">
        <a href="Abuse.html">Abuse</a>
        <a href="Addictions.html">Addictions</a>
        <a href="AIDS Hepatitis C.html">AIDS Hepatitis C</a>
        <a href="Anger Management.html">Anger Management</a>
        <a href="Bereavement.html">Bereavement</a>
        <a href="Black Lives.html">Black Lives</a>
        <a href="Brain InjuryTumour.html">Brain InjuryTumour</a>
        <a href="Clothing Donations.html">Clothing Donations</a>
        <a href="Community Programs.html">Community Programs</a>
        <a href="Disability.html">Disability</a>
        <a href="Education.html">Education</a>
        <a href="Emergency Services.html">Emergency Services</a>
        <a href="Employment Services.html">Employment Services</a>
        <a href="Family Services.html">Family Services</a>
        <a href="Financial.html">Financial</a>
        <a href="Food Banks.html">Food Banks</a>
        <a href="Francophones.html">Francophones</a>
        <a href="Government.html">Government</a>
        <a href="Healthcare.html">Healthcare</a>
        <a href="Homelessness.html">Homelessness</a>
        <a href="Housing.html">Housing</a>
        <a href="Indigenous People.html">Indigenous People</a>
        <a href="Legal Assistance.html">Legal Assistance</a>
        <a href="LGBTQ2S+.html">LGBTQ2S+</a>
        <a href="Mental Health.html">Mental Health</a>
        <a href="Newcomers.html">Newcomers</a>
        <a href="Older Adults.html">Older Adults</a>
        <a href="Pregnancy.html">Pregnancy</a>
        <a href="Transportation.html">Transportation</a>
        <a href="Youth.html">Youth</a>
      </div>
    </li>
  </ul>

				<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Disability</h2>
							
						</div>

					</div>
				</div>
	

<input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for ...">

<table border="1" class="dataframe" id="myTable">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Category</th>
      <th>Service Name</th>
      <th>Service Location</th>
      <th>Contact</th>
      <th>Service Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>-</td>
      <td>Ministry of Children, Community and Social Services - Northern Ontario - Assistance for Children with Severe Disabilities Program</td>
      <td>Sudbury-Manitoulin</td>
      <td>705-564-4515 1-800-461-1167</td>
      <td>Provides financial assistance and benefits (drug, dental, hearing aids, glasses) for families of children with one or more permanent functional disabilities. Enables a child to live as normal a life as possible at home and in the community</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-</td>
      <td>Greater Sudbury (City of) - Extended Health Benefits</td>
      <td>Sudbury</td>
      <td>705-675-2411 City Services: 3-1-1</td>
      <td>Provides various health benefits to individuals and families with high health costs. Benefits are determined based on need and may include: basic dental care; diabetic supplies; eyeglasses; hearing aids; prescription drugs; surgical supplies and dressings; transportation for medical appointments</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-</td>
      <td>Canadian Hard of Hearing Association - Sudbury District</td>
      <td>Sudbury-Manitoulin</td>
      <td>705-523-5695 705-523-5695</td>
      <td>Promotes hearing accessibility in all activities of daily living. Provides technical supports and standards for assistive listening technology, hearing aids and captioning. Offers aural rehabilitation and tinnitus workshops. Provides public awareness. Offers policy development. Provides some financial assistance for hearing aids.</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-</td>
      <td>Métis Nation of Ontario - Sudbury Métis Council</td>
      <td>Sudbury</td>
      <td>705-671-9855</td>
      <td>Provides a range of culturally appropriate programs and services for Métis people to enhance employability and related skills including: Mobility assistance. Services for clients with disabilities.</td>
    </tr>
    <tr>
      <th>5</th>
      <td>-</td>
      <td>Easter Seals Ontario - Northern Ontario</td>
      <td>Northern Ontario</td>
      <td>705-566-8858</td>
      <td>Provides programs and services to help children and youth with physical disabilities achieve greater independence, accessibility and integration. Provides funding for essential mobility and accessibility equipment such as wheelchairs, walkers, porch lifts, home and van ramps and bathing and toileting equipment. Provides fully accessible summer camp, advocacy, as well as public and consumer education. Assists with the Northern Travel Grant. Provides parents with special education resources. Manages the Incontinence Supplies Grant Program on behalf of the Ministry of Health and Long-Term Care</td>
    </tr>
    <tr>
      <th>6</th>
      <td>-</td>
      <td>HSN - Outpatient Rehabilitation and Support Services</td>
      <td>Sudbury</td>
      <td>705-523-7100</td>
      <td>Offers a variety of outpatient rehabilitation services for individuals challenged by/recovering from illness or injury. Services include: Assistive Communication Clinic; Hand and Upper Limb Rehabilitation; Outpatient Brain Injury Rehabilitation Service; Physiotherapy; Rehab Engineering (prosthetics and orthotics); Seating and Mobility Clinic; Short Term Assessment and Treatment.</td>
    </tr>
    <tr>
      <th>7</th>
      <td>-</td>
      <td>HSN- Adult Assistive Communication Clinic</td>
      <td>Sudbury</td>
      <td>705-523-7100 Ext 3549 or 3550</td>
      <td>Operates as an accredited expanded level Assistive Devices Program clinic for augmentative and alternative communication. Provides assessment, consultation, intervention and training in the development of functional face-to-face and written communication.</td>
    </tr>
    <tr>
      <th>8</th>
      <td>-</td>
      <td>Canadian Hearing Services - Sudbury - Hearing Care Counselling</td>
      <td>Sudbury</td>
      <td>1-877-215-9530</td>
      <td>Assists individuals who suffer from a hearing loss improve their communication with family and friends, stay involved in social activities, and remain safe and independent at home. Educates care providers, service providers, and support groups on how to provide accessible services for individuals with hearing loss. Provides a variety of services, including:\n Communication Devices\n Provides information, demonstrations, and assistance with assistive listening technology, specialized telephones, and alerting devices\n Education\n Provides family support and communication training, self-help and support groups, and in-service training to home-support providers\n Information and Counselling\n Provides in-home counselling to individuals, families, and other caregivers related to coping with a hearing loss\n Helps with the use, care, and maintenance of hearing aids\n Provides referrals to other community services</td>
    </tr>
    <tr>
      <th>9</th>
      <td>-</td>
      <td>Atikameksheng Anishnawbek First Nation - Extended Health Benefits</td>
      <td>AAFN-Naughton</td>
      <td>705-692-3651</td>
      <td>Provides various health benefits to individuals and families with high health costs</td>
    </tr>
    <tr>
      <th>10</th>
      <td>-</td>
      <td>Indigenous Services Canada - Northern Ontario</td>
      <td>Northern Ontario</td>
      <td>705-671-0608</td>
      <td>Provides community health services and assistance with non-insured health benefits to eligible First Nation and Inuit people</td>
    </tr>
    <tr>
      <th>11</th>
      <td>-</td>
      <td>March of Dimes Canada</td>
      <td>Sudbury</td>
      <td>1-877-369-4867</td>
      <td>Provides programming and financial assistance in making modifications to homes and vehicles for people with physical, mental, and cognitive disabilities</td>
    </tr>
    <tr>
      <th>12</th>
      <td>-</td>
      <td>Wahnapitae First Nation - Extended Health Benefits</td>
      <td>WFN</td>
      <td>705-858-7700</td>
      <td>Provides various health benefits to individuals and families with high health costs</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Developmental</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>14</th>
      <td>-</td>
      <td>Autism Ontario Sudbury</td>
      <td>Sudbury</td>
      <td>705-677-4939</td>
      <td>The work we do helps all autistic individuals and families in their communities have access to meaningful supports, information, and connections so they are equitably and seamlessly supported across their life course.</td>
    </tr>
    <tr>
      <th>15</th>
      <td>-</td>
      <td>Child and Community Resources - Ontario Autism Program</td>
      <td>Provincial</td>
      <td>705-525-0055</td>
      <td>Single point of access for children and youth to be placed on the Ontario Autism Program (OAP) waitlist for autism services. Facilitates an integrated and coordinated intake process to identify needs of children and youth with Autism Spectrum Disorder (ASD) and their families. Provides access to Family Support Workers to assist families with service and program navigation and support, including direct funding option</td>
    </tr>
    <tr>
      <th>16</th>
      <td>-</td>
      <td>Child and Community Resources - Access to Child and Community Resources, Child and Community Resources</td>
      <td>Sudbury</td>
      <td>705-525-0055</td>
      <td>Along with its partners, offers a continuum of services ranging from universal community services accessible to all children, to specialized services for children and youth with Autism Spectrum Disorder (ASD) and/or developmental needs. Universal services include:\n EarlyON Child and Family Centres (formerly Best Start Hubs);Early Learning and Child Care Services. Targeted services include:Diagnostic and Assessment Services;\n Respite Services; Skills Building Services: Applied Behavioural Analysis (ABA) Workshops for Parents: Applied Behavioural Analysis (ABA). Workshops for Professionals:Autism Spectrum Disorder (ASD). Awareness Presentations: Brief Behavioural Consultations; Social and Life Skills Groups; Transition Services; Specialized Services; Intensive Services</td>
    </tr>
    <tr>
      <th>17</th>
      <td>-</td>
      <td>Children's Community Network</td>
      <td>Espanola</td>
      <td>705-869-1564</td>
      <td>Bringing people together to ensure that children, youth and\n families can access essential services. Services provided: \nCoordinated service planning, Respite service funding, FASD program,\n Alternative Dispute Resolution.</td>
    </tr>
    <tr>
      <th>18</th>
      <td>-</td>
      <td>Community Living Greater Sudbury</td>
      <td>Sudbury</td>
      <td>705-671-7181</td>
      <td>We are committed to the goal of assisting people who have an intellectual/developmental disability to experience their full potential.</td>
    </tr>
    <tr>
      <th>19</th>
      <td>-</td>
      <td>Community Living Espanola</td>
      <td>Espanola</td>
      <td>705-869-0442</td>
      <td>We are committed to the goal of assisting people who have an intellectual/developmental disability to experience their full potential.</td>
    </tr>
    <tr>
      <th>20</th>
      <td>-</td>
      <td>Community Living Manitoulin</td>
      <td>Manitoulin</td>
      <td>705-377-6699</td>
      <td>We are committed to the goal of assisting people who have an intellectual/developmental disability to experience their full potential.</td>
    </tr>
    <tr>
      <th>21</th>
      <td>-</td>
      <td>HSN- Infant and Child Development Services</td>
      <td>Sudbury</td>
      <td>705-523-7156</td>
      <td>Provides early intervention services to families of children who have been diagnosed with, or are at risk of having, a developmental delay. Provides screening, assessment, and intervention. Offers supportive counselling, case management, and information and resources. Supports the child's transition from childcare to school. Provides resource materials, equipment, toys and books. Services are free of charge</td>
    </tr>
    <tr>
      <th>22</th>
      <td>-</td>
      <td>Developmental Services Ontario</td>
      <td>Sudbury</td>
      <td>705-222-6066 807-346-0812</td>
      <td>Serves as the single point of access to services and supports\n Completes assessment to determine individual's service and support needs\n Confirms eligibility for supports and services for the first time\n Provides information and links individuals to available services and supports\n Note: Not responsible for determining funding amounts or prioritizing who receives services first</td>
    </tr>
    <tr>
      <th>23</th>
      <td>-</td>
      <td>Learning Disabilities Assoc of Sudbury</td>
      <td>Sudbury</td>
      <td>705-522-0100 toll free 1-855-522-0100</td>
      <td>Dedicated to supporting all individuals with Learning Disabilities in reaching their potential, within a community that values their unique contributions and abilities.</td>
    </tr>
    <tr>
      <th>24</th>
      <td>-</td>
      <td>Independent Living Sudbury Manitoulin</td>
      <td>Sudbury-Manitoulin</td>
      <td>705-675-2121</td>
      <td>Supports individuals with disabilities through peer-support, education, and leadership. Encourages personal development, independence, and self-determination. Works closely with networks and committees to promote an inclusive community. Community Access Program (CAP) Provides individuals with public access to the Internet and the skills they need to use it effectively.</td>
    </tr>
    <tr>
      <th>25</th>
      <td>-</td>
      <td>Respite Care Network</td>
      <td>Sudbury</td>
      <td>705-566-3416</td>
      <td>Maintains a large database of workers interested in supporting persons with a developmental disability and/or physical disability. Provides meaningful respite opportunities through community based options</td>
    </tr>
    <tr>
      <th>26</th>
      <td>-</td>
      <td>Arche Sudbury (L') - Services for People with an Intellectual Disability</td>
      <td>Sudbury</td>
      <td>705-525-1015</td>
      <td>Offers five faith based group homes in the Sudbury area. Provides activities such as personal development, basic life skills training, social and recreational activities, volunteering and other activities that lead to community participation. Provides support to secure meaningful employment. Supports the development of personal individual support plans (ISP) based on the principles of self-determination, social inclusion, citizenship, choice and provides services that are reflective of the plan</td>
    </tr>
    <tr>
      <th>27</th>
      <td>-</td>
      <td>Sudbury Community Service Centre</td>
      <td>Sudbury</td>
      <td>705-560-0430</td>
      <td>Provides assistance to individuals diagnosed with a developmental disability and their families. Offers the following services: Advocacy;Case Management; Crisis Management;Emotional Support;Justice Case Management;Life Skills Management;\n Passport Program.</td>
    </tr>
    <tr>
      <th>28</th>
      <td>-</td>
      <td>Sudbury Developmental Services and Adele Samson Centre</td>
      <td>Sudbury</td>
      <td>705-674-1451 705-673-2072</td>
      <td>Provides community living alternatives to adults who have a developmental disability in either a group home setting or in Supported Independent Living, such as a community based private apartment. Offers a francophone day program to individuals with high and/or complex care needs. Offers services to clients as identified in Individual Support Plans</td>
    </tr>
    <tr>
      <th>29</th>
      <td>-</td>
      <td>Special Olympics Ontario - Northern Ontario</td>
      <td>Northern Ontario</td>
      <td>24-hour service 705-855-1219</td>
      <td>Organizes a Sports Training Program and competition for individuals who have an intellectual disability</td>
    </tr>
    <tr>
      <th>30</th>
      <td>-</td>
      <td>Adult Enrichment Centre</td>
      <td>Sudbury</td>
      <td>705-470-7474</td>
      <td>https://www.adultenrichment.ca/</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Providing individualized services through daily activities within the community. Operating 7 days a week in a group setting. Focusing on lifeskills, social skills, employment opportunities and much more....</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>32</th>
      <td>-</td>
      <td>Canadian Hard of Hearing Society</td>
      <td>Canada-wide</td>
      <td>705-523-5695</td>
      <td>-</td>
    </tr>
    <tr>
      <th>33</th>
      <td>-</td>
      <td>Canadian Hearing Society</td>
      <td>Canada-wide</td>
      <td>705-522-1020</td>
      <td>-</td>
    </tr>
    <tr>
      <th>34</th>
      <td>-</td>
      <td>CNIB</td>
      <td>Canada-wide</td>
      <td>705-675-2468</td>
      <td>-</td>
    </tr>
    <tr>
      <th>35</th>
      <td>-</td>
      <td>Spinal Cord Injury Ontario</td>
      <td>Provincial</td>
      <td>705-671-2444</td>
      <td>-</td>
    </tr>
    <tr>
      <th>36</th>
      <td>-</td>
      <td>Sudbury's Fribromyalgia Support Group</td>
      <td>Sudbury</td>
      <td>705 525-5121</td>
      <td>-</td>
    </tr>
    <tr>
      <th>37</th>
      <td>-</td>
      <td>ICAN - Independence Ctr &amp; Network</td>
      <td>Sudbury</td>
      <td>705-673-0655</td>
      <td>-</td>
    </tr>
    <tr>
      <th>38</th>
      <td>-</td>
      <td>Community Living Greater Sudbury</td>
      <td>Sudbury</td>
      <td>705-671-7181</td>
      <td>We are committed to the goal of assisting people who have an intellectual/developmental disability to experience their full potential.</td>
    </tr>
    <tr>
      <th>39</th>
      <td>-</td>
      <td>Community Living Espanola</td>
      <td>Espanola</td>
      <td>705-869-0442</td>
      <td>We are committed to the goal of assisting people who have an intellectual/developmental disability to experience their full potential.</td>
    </tr>
    <tr>
      <th>40</th>
      <td>-</td>
      <td>Community Living Manitoulin</td>
      <td>Manitoulin</td>
      <td>705-377-6699</td>
      <td>We are committed to the goal of assisting people who have an intellectual/developmental disability to experience their full potential.</td>
    </tr>
  </tbody>
</table>
	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script>
		function searchTable() {
			var input, filter, found, table, tr, td, i, j;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td");
				for (j = 0; j < td.length; j++) {
					if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
						found = true;
					}
				}
				if (found) {
					tr[i].style.display = "";
					found = false;
				} else {
					tr[i].style.display = "none";
				}
			}
		}
		</script>
</body>
</html>
