
  <head>
    <title>Community Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  </style>
  </head>


<body>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Data</a>
      <div class="dropdown-content">
        <a href="Abuse.html">Abuse</a>
        <a href="Addictions.html">Addictions</a>
        <a href="AIDS Hepatitis C.html">AIDS Hepatitis C</a>
        <a href="Anger Management.html">Anger Management</a>
        <a href="Bereavement.html">Bereavement</a>
        <a href="Black Lives.html">Black Lives</a>
        <a href="Brain InjuryTumour.html">Brain InjuryTumour</a>
        <a href="Clothing Donations.html">Clothing Donations</a>
        <a href="Community Programs.html">Community Programs</a>
        <a href="Disability.html">Disability</a>
        <a href="Education.html">Education</a>
        <a href="Emergency Services.html">Emergency Services</a>
        <a href="Employment Services.html">Employment Services</a>
        <a href="Family Services.html">Family Services</a>
        <a href="Financial.html">Financial</a>
        <a href="Food Banks.html">Food Banks</a>
        <a href="Francophones.html">Francophones</a>
        <a href="Government.html">Government</a>
        <a href="Healthcare.html">Healthcare</a>
        <a href="Homelessness.html">Homelessness</a>
        <a href="Housing.html">Housing</a>
        <a href="Indigenous People.html">Indigenous People</a>
        <a href="Legal Assistance.html">Legal Assistance</a>
        <a href="LGBTQ2S+.html">LGBTQ2S+</a>
        <a href="Mental Health.html">Mental Health</a>
        <a href="Newcomers.html">Newcomers</a>
        <a href="Older Adults.html">Older Adults</a>
        <a href="Pregnancy.html">Pregnancy</a>
        <a href="Transportation.html">Transportation</a>
        <a href="Youth.html">Youth</a>
      </div>
    </li>
  </ul>

				<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Employment Services</h2>
							
						</div>

					</div>
				</div>
	

<input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for ...">

<table border="1" class="dataframe" id="myTable">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Category</th>
      <th>Service Name</th>
      <th>Service Location</th>
      <th>Contact</th>
      <th>Service Description</th>
      <th>Additional Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>-</td>
      <td>Atikameksheng Anishnawbek - Niigaaniin - Shpiming Nikeyaa Zhaawag</td>
      <td>Whitefish/AAFN</td>
      <td>705-692-3651</td>
      <td>Provides financial assistance, active measures and addiction services to Niigaaniin clients whose employment potential may be obstructed by substance abuse problems</td>
      <td>-</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-</td>
      <td>Gezhtoojig Employment &amp; Training</td>
      <td>-</td>
      <td>705-524-6772</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-</td>
      <td>Northern Vocational Services, ODSP</td>
      <td>-</td>
      <td>705-674-4141</td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-</td>
      <td>N'Swakamok Native Friendship Ctr</td>
      <td>-</td>
      <td>705-674-2128</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>5</th>
      <td>-</td>
      <td>Ontario March of Dimes, disabilities</td>
      <td>-</td>
      <td>705-674-3377</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>6</th>
      <td>-</td>
      <td>Sudbury Vocational Resource Centre</td>
      <td>-</td>
      <td>705-671-2544</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>7</th>
      <td>-</td>
      <td>YMCA Employment Centre</td>
      <td>-</td>
      <td>705-674-2324</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>8</th>
      <td>-</td>
      <td>Volunteer Sudbury</td>
      <td>-</td>
      <td>705-560-6661</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>9</th>
      <td>-</td>
      <td>Sudbury Workers Education &amp; Advocacy Centre</td>
      <td>-</td>
      <td>705-470-2173</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>10</th>
      <td>-</td>
      <td>Spark Employment Service</td>
      <td>Sudbury</td>
      <td>705-671-2544</td>
      <td>Connecting our community with meaningful employment and education.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>11</th>
      <td>-</td>
      <td>Manitoulin-Sudbury DSB - Employment Ontario</td>
      <td>Chapleau</td>
      <td>705-864-0430</td>
      <td>Providing Employment Ontario services and programs to individuals in Chapleau, Foleyet, Gogama, Shinning Tree, and First Nations</td>
      <td>www.msdsb.net</td>
    </tr>
    <tr>
      <th>12</th>
      <td>-</td>
      <td>Economic Partners Sudbury East-Nipissing West Inc.</td>
      <td>Sturgeon Falls</td>
      <td>705-753-5450</td>
      <td>Community-based, non-profit organization that is dedicated to creating opportunities for entrepreneurship and to the pursuit of economic growth in our community.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>13</th>
      <td>-</td>
      <td>Pre- Employment Essential Skills</td>
      <td>St. Charles</td>
      <td>705-618-5330</td>
      <td>Working at Heights, Aerial Work Platform, Fall Arrest, Forklift Training, First AID/CPR, Stay Safe, Babysitting Course.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>14</th>
      <td>-</td>
      <td>Community Builders</td>
      <td>Sudbury</td>
      <td>705 214 9598   website: www.communitybuilders.co</td>
      <td>We provide training, employment, and affordable housing to meet the growing needs of our community's most vulnerable and at risk populations.  We offer a 14 week paid training program and we open up applications to the Training Program every 3-4 months.  Contact us to find out when the next cohort begins.</td>
      <td>This program is designed as pre-employment training and focuses on giving its participants the tools they need to succeed.  We educate in employment readiness skills, and train everything from demolition, framing, insulation, drywall, flooring, tiling, budgeting, meal planning, and more.  Most importantly, participants get real on-the-job construction training in a supportive and supervised environment.</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Employment Options/Emploi</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>16</th>
      <td>-</td>
      <td>Sudbury</td>
      <td>-</td>
      <td>705-560-1562</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>17</th>
      <td>-</td>
      <td>Val Caron</td>
      <td>-</td>
      <td>705-897-5627</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>18</th>
      <td>-</td>
      <td>Chelmsford</td>
      <td>-</td>
      <td>705-855-1562</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>19</th>
      <td>-</td>
      <td>Espanola</td>
      <td>-</td>
      <td>705-869-4113</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>20</th>
      <td>-</td>
      <td>Manitoulin</td>
      <td>-</td>
      <td>705-368-3194</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>21</th>
      <td>-</td>
      <td>Noelville</td>
      <td>-</td>
      <td>705-898-2244</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>22</th>
      <td>-</td>
      <td>Chapleau</td>
      <td>-</td>
      <td>705-864-0430</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>23</th>
      <td>-</td>
      <td>March of Dimes Canada</td>
      <td>Sudbury</td>
      <td>1-877-369-4867</td>
      <td>Employment navigation for individuals living with cognitive, mental, and physical disabilities.</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script>
		function searchTable() {
			var input, filter, found, table, tr, td, i, j;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td");
				for (j = 0; j < td.length; j++) {
					if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
						found = true;
					}
				}
				if (found) {
					tr[i].style.display = "";
					found = false;
				} else {
					tr[i].style.display = "none";
				}
			}
		}
		</script>
</body>
</html>
