
  <head>
    <title>Community Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  </style>
  </head>


<body>
  <ul>
    <li><a href="WELCOME!.html">Home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Data</a>
      <div class="dropdown-content">
        <a href="Abuse.html">Abuse</a>
        <a href="Addictions.html">Addictions</a>
        <a href="AIDS Hepatitis C.html">AIDS Hepatitis C</a>
        <a href="Anger Management.html">Anger Management</a>
        <a href="Bereavement.html">Bereavement</a>
        <a href="Black Lives.html">Black Lives</a>
        <a href="Brain InjuryTumour.html">Brain InjuryTumour</a>
        <a href="Clothing Donations.html">Clothing Donations</a>
        <a href="Community Programs.html">Community Programs</a>
        <a href="Disability.html">Disability</a>
        <a href="Education.html">Education</a>
        <a href="Emergency Services.html">Emergency Services</a>
        <a href="Employment Services.html">Employment Services</a>
        <a href="Family Services.html">Family Services</a>
        <a href="Financial.html">Financial</a>
        <a href="Food Banks.html">Food Banks</a>
        <a href="Francophones.html">Francophones</a>
        <a href="Government.html">Government</a>
        <a href="Healthcare.html">Healthcare</a>
        <a href="Homelessness.html">Homelessness</a>
        <a href="Housing.html">Housing</a>
        <a href="Indigenous People.html">Indigenous People</a>
        <a href="Legal Assistance.html">Legal Assistance</a>
        <a href="LGBTQ2S+.html">LGBTQ2S+</a>
        <a href="Mental Health.html">Mental Health</a>
        <a href="Newcomers.html">Newcomers</a>
        <a href="Older Adults.html">Older Adults</a>
        <a href="Pregnancy.html">Pregnancy</a>
        <a href="Transportation.html">Transportation</a>
        <a href="Youth.html">Youth</a>
      </div>
    </li>
  </ul>

				<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Financial</h2>
							
						</div>

					</div>
				</div>
	

<input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for ...">

<table border="1" class="dataframe" id="myTable">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Category</th>
      <th>Service Name</th>
      <th>Program name</th>
      <th>Service Location</th>
      <th>Phone Number</th>
      <th>Website</th>
      <th>Email Address</th>
      <th>Service Description</th>
      <th>Additional Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>-</td>
      <td>Canada Pension Plan and Old Age Security</td>
      <td>-</td>
      <td>National</td>
      <td>1-800-277-9914</td>
      <td>-</td>
      <td>-</td>
      <td>Provides assistance with CPP, GIS, and OAS.  All inquiries for CPP, OAS, GIS. Survivor benefits, disability, etc.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-</td>
      <td>Employment Insurance</td>
      <td>-</td>
      <td>Espanola</td>
      <td>1-800-206-7218 (info) or 1-800-531-7555 (reporting)</td>
      <td>www.canada.ca</td>
      <td>-</td>
      <td>Provides temporary financial assistance to unemployed Canadians who have lost their job through no fault of their own, while they look for work or upgrade their skills\n Also provides temporary financial assistance for individuals who are sick, pregnant, or caring for a newborn or adopted child, as well as those who must care for a family member who is seriously ill with a significant risk of death</td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>-</td>
      <td>Canada Revenue Agency - Northern Ontario - Income Tax Information - Sudbury</td>
      <td>-</td>
      <td>National</td>
      <td>1-800-959-8281</td>
      <td>-</td>
      <td>-</td>
      <td>Administers various social and economic benefit and incentive programs delivered through the tax system\n Provides self-serve internet and forms kiosks, with a limited number of the most popular forms\n Meets with taxpayers by appointment to discuss complex situations with a CRA enquiries agent\n Provides self-serve stamping machines for individuals requiring proof of document delivery in person\n Provides information on income tax deductions, credits and exemptions including:\n GST/HST Credit\n Canada Child Benefit\n Ontario Trillium Benefit</td>
      <td>-</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-</td>
      <td>Ontario Works</td>
      <td>-</td>
      <td>Espanola</td>
      <td>705-862-7850</td>
      <td>-</td>
      <td>-</td>
      <td>Provides short term financial assistance to individuals and families in need\n Offers Extended Health Benefits to qualifying individuals\n Provides support and assistance to program participants in meeting their participation responsibilities\n Provides information to recipients about participation requirements including seeking employment, basic education, volunteer work, or self employment</td>
      <td>-</td>
    </tr>
    <tr>
      <th>5</th>
      <td>-</td>
      <td>Ontario Works</td>
      <td>-</td>
      <td>Little Current</td>
      <td>705-368-0238</td>
      <td>-</td>
      <td>-</td>
      <td>Provides short term financial assistance to individuals and families in need\n Offers Extended Health Benefits to qualifying individuals\n Provides support and assistance to program participants in meeting their participation responsibilities\n Provides information to recipients about participation requirements including seeking employment, basic education, volunteer work, or self employment</td>
      <td>-</td>
    </tr>
    <tr>
      <th>6</th>
      <td>-</td>
      <td>Ontario Works</td>
      <td>-</td>
      <td>Whitefish River FN</td>
      <td>705-285-4225 or 705-258-4334</td>
      <td>-</td>
      <td>-</td>
      <td>Provides short term financial assistance to individuals and families in need\n Offers Extended Health Benefits to qualifying individuals\n Provides support and assistance to program participants in meeting their participation responsibilities\n Provides information to recipients about participation requirements including seeking employment, basic education, volunteer work, or self employment</td>
      <td>-</td>
    </tr>
    <tr>
      <th>7</th>
      <td>-</td>
      <td>Ontario Works</td>
      <td>-</td>
      <td>199 Larch Street, 9th Floor Sudbury</td>
      <td>705-675-2411</td>
      <td>https://www.greatersudbury.ca/live/employment-support-and-financial-assistance/financial-assistance-ontario-works/</td>
      <td>-</td>
      <td>Ontario Works is intended to temporarily help persons or families with basic financial assistance while providing support with finding employment.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>8</th>
      <td>-</td>
      <td>Ontario Works</td>
      <td>-</td>
      <td>8 David St, Noëlville</td>
      <td>(705) 967-0639</td>
      <td>https://www.msdsb.net/ow-office-locations/133-integrated-services/ontario-works/ow-office-locations</td>
      <td>-</td>
      <td>The Ontario Works Program provides income and employment assistance for people who are in temporary financial need.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>9</th>
      <td>-</td>
      <td>ODSP \n</td>
      <td>The Ontario Disability Support Program</td>
      <td>-</td>
      <td>Irene Wilhelm 705-564-4515 ext. 2390\nCindy Iker 705-564-4515\next. 2206       Management Lead: Lauren Williamson 705-688-4272</td>
      <td>-</td>
      <td>Irene.wilhelm@ontario.ca.  Cindy.iker@ontario.ca.  Lauren.Williamson@ ontario.ca</td>
      <td>The Ontario Disability Support Program (ODSP) is one of On- tario’s social assistance programs. ODSP provides income and employment supports to eligible Ontario residents who have disabilities.\nODSP income support recipients and their families qualify for monthly income support (basic needs and shelter) and may also qualify for health benefits such as:\n• prescription drug coverage\n• dental coverage\n• vision care\n• medical supplies\n• coverage for medical transportation\n• nutritional allowance for those pregnant or breast-feeding\n• Extended Health Benefit for those who are no longer finan- cially eligible for ODSP\nAdditionally, ODSP recipients may qualify for discretionary ben- efits under the Ontario Works program. These include but are not limited to: mattresses, moving costs, first and last months rent, etc.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>10</th>
      <td>-</td>
      <td>Ontario Works</td>
      <td>-</td>
      <td>12 Birch St. East, Chapleau</td>
      <td>(705) 864-0430</td>
      <td>https://www.msdsb.net/ow-office-locations/133-integrated-services/ontario-works/ow-office-locations</td>
      <td>-</td>
      <td>The Ontario Works Program provides income and employment assistance for people who are in temporary financial need.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Income Tax Clinics, Credit Counselling, Other Clinics</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>12</th>
      <td>-</td>
      <td>Credit Counselling Sudbury</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-560-0430</td>
      <td>-</td>
      <td>-</td>
      <td>Assists clients with a wide variety of issues related to credit and debt issues\n Offers an alternative to bankruptcy\n Hosts a wide variety of public speaking seminars\n \n Services provided include the following\n Budget Counselling\n Third Party Advocacy\n Intervention\n Debt Management\n \n Offers free income tax preparation and filing for low-income individuals</td>
      <td>-</td>
    </tr>
    <tr>
      <th>13</th>
      <td>-</td>
      <td>Income Tax Clinic - United Way</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-560-3337</td>
      <td>-</td>
      <td>-</td>
      <td>Operates a volunteer income tax clinic geared for low income</td>
      <td>-</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Utility Support</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>15</th>
      <td>-</td>
      <td>Low-Income Energy Assistance Program</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-618-8810</td>
      <td>-</td>
      <td>-</td>
      <td>Provides financial assistance to individuals who are in arrears and at risk of disconnection with Greater Sudbury Utilities (GSU - also known as Greater Sudbury Hydro)\n Offers assistance up to $500 toward arrears (paid directly to the utility company). up to $600 if the home is electrically heated</td>
      <td>-</td>
    </tr>
    <tr>
      <th>16</th>
      <td>-</td>
      <td>Community Homelessness Prevention Initiative</td>
      <td>-</td>
      <td>-</td>
      <td>705-618-8810</td>
      <td>-</td>
      <td>-</td>
      <td>Provides financial assistance for rental and/or utility arrears, utility connection fees or financial assistance towards first/last month's rent to secure permanent housing for individuals who are homeless or at risk of homelessness and are considered low income but not on Ontario Works or Ontario Disability Support Program (ODSP) benefits</td>
      <td>-</td>
    </tr>
    <tr>
      <th>17</th>
      <td>-</td>
      <td>LEAP Emergency Financial Assistance</td>
      <td>-</td>
      <td>Espanola</td>
      <td>705-862-7850</td>
      <td>-</td>
      <td>-</td>
      <td>Provides financial assistance to individuals who are in arrears with Chapleau Public Utilities Corporation\n Offers assistance up to $500 towards arrears (paid directly to the utility company)</td>
      <td>-</td>
    </tr>
    <tr>
      <th>18</th>
      <td>-</td>
      <td>Healthy Communities Fund</td>
      <td>-</td>
      <td>Espanola</td>
      <td>705-862-7850</td>
      <td>-</td>
      <td>-</td>
      <td>Provides financial assistance for rental and/or utility arrears, utility connection fees or financial assistance towards first/last month's rent to secure permanent housing for individuals who are homeless or at risk of homelessness and are considered low income but not on Ontario Works or Ontario Disability Support Program (ODSP) benefits</td>
      <td>-</td>
    </tr>
    <tr>
      <th>19</th>
      <td>-</td>
      <td>Canadian Red Cross Society</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-674-0737</td>
      <td>-</td>
      <td>-</td>
      <td>The Canadian Red Cross may provide emergency and disaster services in partnership with first responders, emergency managers, public officials, and in collaboration with other voluntary sector organizations. These services may include emergency lodging, reception and information, emergency food, emergency clothing, personal services and family reunification.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Children Support</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>21</th>
      <td>-</td>
      <td>Our Kids Count</td>
      <td>-</td>
      <td>Espanola</td>
      <td>705-862-7850</td>
      <td>-</td>
      <td>-</td>
      <td>Offers financial assistance for the following:\n \n Children's recreation opportunities\n Informal child care\n Emergency items, such as cribs, children's beds, formula and diapers</td>
      <td>-</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Rent Support</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>23</th>
      <td>-</td>
      <td>Community Homelessness Prevention Initiative</td>
      <td>-</td>
      <td>-</td>
      <td>705-618-8810</td>
      <td>-</td>
      <td>-</td>
      <td>Provides financial assistance for rental and/or utility arrears, utility connection fees or financial assistance towards first/last month's rent to secure permanent housing for individuals who are homeless or at risk of homelessness and are considered low income but not on Ontario Works or Ontario Disability Support Program (ODSP) benefits</td>
      <td>-</td>
    </tr>
    <tr>
      <th>24</th>
      <td>-</td>
      <td>Healthy Communities Fund</td>
      <td>-</td>
      <td>Espanola</td>
      <td>705-862-7850</td>
      <td>-</td>
      <td>-</td>
      <td>Provides financial assistance for rental and/or utility arrears, utility connection fees or financial assistance towards first/last month's rent to secure permanent housing for individuals who are homeless or at risk of homelessness and are considered low income but not on Ontario Works or Ontario Disability Support Program (ODSP) benefits</td>
      <td>-</td>
    </tr>
    <tr>
      <th>25</th>
      <td>-</td>
      <td>Canada Child Benefit</td>
      <td>-</td>
      <td>National</td>
      <td>1-800-387-1193</td>
      <td>-</td>
      <td>-</td>
      <td>Provides a tax-free monthly payment to eligible families to help with the cost of raising children under 18 years of age</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script>
		function searchTable() {
			var input, filter, found, table, tr, td, i, j;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td");
				for (j = 0; j < td.length; j++) {
					if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
						found = true;
					}
				}
				if (found) {
					tr[i].style.display = "";
					found = false;
				} else {
					tr[i].style.display = "none";
				}
			}
		}
		</script>
</body>
</html>
