
  <head>
    <title>Community Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  </style>
  </head>


<body>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Data</a>
      <div class="dropdown-content">
        <a href="Abuse.html">Abuse</a>
        <a href="Addictions.html">Addictions</a>
        <a href="AIDS Hepatitis C.html">AIDS Hepatitis C</a>
        <a href="Anger Management.html">Anger Management</a>
        <a href="Bereavement.html">Bereavement</a>
        <a href="Black Lives.html">Black Lives</a>
        <a href="Brain InjuryTumour.html">Brain InjuryTumour</a>
        <a href="Clothing Donations.html">Clothing Donations</a>
        <a href="Community Programs.html">Community Programs</a>
        <a href="Disability.html">Disability</a>
        <a href="Education.html">Education</a>
        <a href="Emergency Services.html">Emergency Services</a>
        <a href="Employment Services.html">Employment Services</a>
        <a href="Family Services.html">Family Services</a>
        <a href="Financial.html">Financial</a>
        <a href="Food Banks.html">Food Banks</a>
        <a href="Francophones.html">Francophones</a>
        <a href="Government.html">Government</a>
        <a href="Healthcare.html">Healthcare</a>
        <a href="Homelessness.html">Homelessness</a>
        <a href="Housing.html">Housing</a>
        <a href="Indigenous People.html">Indigenous People</a>
        <a href="Legal Assistance.html">Legal Assistance</a>
        <a href="LGBTQ2S+.html">LGBTQ2S+</a>
        <a href="Mental Health.html">Mental Health</a>
        <a href="Newcomers.html">Newcomers</a>
        <a href="Older Adults.html">Older Adults</a>
        <a href="Pregnancy.html">Pregnancy</a>
        <a href="Transportation.html">Transportation</a>
        <a href="Youth.html">Youth</a>
      </div>
    </li>
  </ul>

				<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Francophones</h2>
							
						</div>

					</div>
				</div>
	

<input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for ...">

<table border="1" class="dataframe" id="myTable">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Agency Name</th>
      <th>Program Name</th>
      <th>Hours/Days</th>
      <th>Address</th>
      <th>Phone Number(s)</th>
      <th>Website</th>
      <th>Email Addresses</th>
      <th>Service Description</th>
      <th>Additional Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Club Accueil Âge d'Or Azilda</td>
      <td>-</td>
      <td>Monday-Friday \n9am-4pm</td>
      <td>64 Notre Dame St E Azilda, ON P0M 1B0</td>
      <td>705-983-2992</td>
      <td>-</td>
      <td>clubaccueil@eastlink.ca</td>
      <td>Offers a variety of recreational and educational programs and activities for older adults. Activities include: Arts and crafts, Card games, Exercise classes, Dances, Darts, Bingo - Wed evenings, Blood pressure clinics, Luncheons (once a month).</td>
      <td>Francophone\nWheelchair accessible \nMembership fee $12 per year</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Club Amical du Nouveau Sudbury</td>
      <td>-</td>
      <td>Monday-Friday \n9am-3pm</td>
      <td>553 Lavoie St, Greater Sudbury, ON, P3A2B4\n</td>
      <td>705-566-2113</td>
      <td>http://www.clubamical.ca</td>
      <td>clubamical@persona.ca</td>
      <td>Offers a variety of recreational programs and services for seniors to socialize, including the following: Arts and crafts, Card games, Board games (Tock), Yoga, Darts, shuffleboard, bowling, bocce ball and billiards, Guitar lessons, Music jam, Fitness, Health workshops, Occasional lunches, Occasional spaghetti dinners, Theatre, Travel.</td>
      <td>Francophone</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Contact interculturel francophone de Sudbury</td>
      <td>-</td>
      <td>7 days weekly 9am-5pm</td>
      <td>40 Elm St, Sudbury, ON P3C 1S8\n</td>
      <td>705-626-6299</td>
      <td>https://cifs.ca</td>
      <td>cifs@cifs.ca</td>
      <td>Offers group activities for newly arrived immigrants and refugees of all ages to help orient them to their new community and establish social and professional networks. Provides community support through volunteer befriending and conversation circles to practice French</td>
      <td>Francophone</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Centre Culturel Louis-Hémon</td>
      <td>-</td>
      <td>Monday-Friday 9am-4pm</td>
      <td>69 Birch St, Chapleau, ON P0M 1K0</td>
      <td>705-864-1126</td>
      <td>http://www.quatrain.org/cclh/</td>
      <td>hemoninc@bellnet.ca</td>
      <td>Centre Culturel Louis-Hémon is a non-profit organization that promotes Franco-Ontarian culture and arts. The objectives for the centre include the following: Performances by professional artists, Visual art exhibitions by professional artists, Artist in Schools program, Professional development service for artists, Translation service, French music and literature shop, Representation on various committees, councils and community organizations, and develop and promote the arts.</td>
      <td>Francophone</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Club d'age d'or Alidor</td>
      <td>-</td>
      <td>Monday-Friday 9am-4:30pm</td>
      <td>43 Main St, St Charles, ON, \nP0M 2W0\n\n</td>
      <td>705-898-2174</td>
      <td>-</td>
      <td>-</td>
      <td>Offers social and recreational activities for older adults. Activities include: Card games, Shuffleboard, Billiards, Hot lunch every Tuesday, and Hall rentals.</td>
      <td>Francophone \nCall or drop by * no referral required\nPartially wheelchair accessible\n$12 yearly membership\nTue lunch: $6 for members, $7 non-members</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Club des retraités de la rivière des français  - Community Dining Program</td>
      <td>-</td>
      <td>Wednesday's 11am-2pm</td>
      <td>16 St David St, Noëlville, \nON P0M 2N0</td>
      <td>705-898-2515</td>
      <td>-</td>
      <td>-</td>
      <td>Club des retraités de la rivière des français  is a Community Dining Program for older adults that offer group meals and social activities such as Card games and Shuffleboard.</td>
      <td>Francophone \nNot wheelchair accessible\nCall * no referral required</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Club des bons vivants</td>
      <td>Diners Club</td>
      <td>Wednesday’s 7pm-9:30pm</td>
      <td>24 Delemere Rd, Alban, \nON P0M 1A0</td>
      <td>705-857-1230</td>
      <td>-</td>
      <td>-</td>
      <td>Club des bons vivants d’Alban is a community centre for older adults. This program runs from September to May and is a great opportunity to gain social interaction whilst attending the diners club.</td>
      <td>Not wheelchair accessible\n$5 yearly membership</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Village Amis des Aines, Amis de Tous de la Riviere des Francais</td>
      <td>-</td>
      <td>Monday-Friday 8am-4:30pm</td>
      <td>44 St. Christophe St, Suite 1, Noelville, \nON P0M 2N0</td>
      <td>705-898-2294\n</td>
      <td>-</td>
      <td>-</td>
      <td>To promote seniors friendly initiatives in French River as well as for the general population.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>9</th>
      <td>L'Union Culturelle Franco Ontario</td>
      <td>-</td>
      <td>-</td>
      <td>Noelville</td>
      <td>705-898-2320</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Health and Outreach</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>11</th>
      <td>-</td>
      <td>Centre de santé communautaire Sudbury</td>
      <td>Sudbury</td>
      <td>705-670-2274</td>
      <td>Le Centre de santé communautaire du Grand Sudbury œuvre à améliorer, à maintenir et à rétablir la santé et le bien-être de tous les francophones.</td>
      <td>Francophone</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>12</th>
      <td>-</td>
      <td>L'Association des Jeunes de la Rue</td>
      <td>Sudbury</td>
      <td>705-675-6422</td>
      <td>Provides outreach services to those who are homeless or at risk of being homeless\n Distributes blankets, clothing and supplies\n \n Direct client services include:\n Health support\n Immediate first aid\n Referral to community resources\n Suicide intervention\n Transportation to essential services such as emergency care, crisis prevention and intervention</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>13</th>
      <td>-</td>
      <td>Sudbury East Community Health Centre</td>
      <td>5-39, rue Lafontaine Street or 1, rue King St. St.-Charles</td>
      <td>705-599-3004 or 705-867-0095</td>
      <td>Promoting and improving the health of community residents by providing health promotion programs, disease prevention strategies and timely access to primary health care using an interdisciplinary approach with an emphasis on working with our community partners.</td>
      <td>https://univi.ca/</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>14</th>
      <td>-</td>
      <td>French River Nurse Practioner Led Clinc</td>
      <td>24, rue Delamere Street, Alban</td>
      <td>705-857-3767</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>15</th>
      <td>-</td>
      <td>Centre Victoria pour Femmes</td>
      <td>Sudbury</td>
      <td>705-670-2517</td>
      <td>Assists Francophone women who have experienced any form of violence</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script>
		function searchTable() {
			var input, filter, found, table, tr, td, i, j;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td");
				for (j = 0; j < td.length; j++) {
					if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
						found = true;
					}
				}
				if (found) {
					tr[i].style.display = "";
					found = false;
				} else {
					tr[i].style.display = "none";
				}
			}
		}
		</script>
</body>
</html>
