
  <head>
    <title>Community Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  </style>
  </head>


<body>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Data</a>
      <div class="dropdown-content">
        <a href="Abuse.html">Abuse</a>
        <a href="Addictions.html">Addictions</a>
        <a href="AIDS Hepatitis C.html">AIDS Hepatitis C</a>
        <a href="Anger Management.html">Anger Management</a>
        <a href="Bereavement.html">Bereavement</a>
        <a href="Black Lives.html">Black Lives</a>
        <a href="Brain InjuryTumour.html">Brain InjuryTumour</a>
        <a href="Clothing Donations.html">Clothing Donations</a>
        <a href="Community Programs.html">Community Programs</a>
        <a href="Disability.html">Disability</a>
        <a href="Education.html">Education</a>
        <a href="Emergency Services.html">Emergency Services</a>
        <a href="Employment Services.html">Employment Services</a>
        <a href="Family Services.html">Family Services</a>
        <a href="Financial.html">Financial</a>
        <a href="Food Banks.html">Food Banks</a>
        <a href="Francophones.html">Francophones</a>
        <a href="Government.html">Government</a>
        <a href="Healthcare.html">Healthcare</a>
        <a href="Homelessness.html">Homelessness</a>
        <a href="Housing.html">Housing</a>
        <a href="Indigenous People.html">Indigenous People</a>
        <a href="Legal Assistance.html">Legal Assistance</a>
        <a href="LGBTQ2S+.html">LGBTQ2S+</a>
        <a href="Mental Health.html">Mental Health</a>
        <a href="Newcomers.html">Newcomers</a>
        <a href="Older Adults.html">Older Adults</a>
        <a href="Pregnancy.html">Pregnancy</a>
        <a href="Transportation.html">Transportation</a>
        <a href="Youth.html">Youth</a>
      </div>
    </li>
  </ul>

				<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Government</h2>
							
						</div>

					</div>
				</div>
	

<input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for ...">

<table border="1" class="dataframe" id="myTable">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Category Federal Provincial CGS Citizen Service Centres</th>
      <th>Service Name Canada Pension Plan and Old Age Security Canada Revenue Agency - Northern Ontario - Income Tax Information - Sudbury Service Canada - SIN Service Canada - Outreach Service Canada - Passports Employment Insurance Member of Parliament Federal (MP) Paul Lefebvre Member of Parliament Federal (MP) Marc Serre' Member of Parliament Federal (MP) Carol Hughes Ministry of Citizenship and Immigration NEO Ontario Works Ontario Works Ontario Works Service Ontario Service Ontario Service Ontario Ontario Works Member of Provincial Parliament (MPP) Jamie West Member of Provincial Parliament (MPP) Michael Mantha Member of Provincial Parliament (MPP) France Ge'linas Ontario Works Lively Garson Valley East Chelmsford Capreol Dowling</th>
      <th>Service Location Espanola National Sudbury Chapleau Sudbury Espanola Constituency Office
 Main office - Sudbury
 93 Cedar Street
 Suite 302
 Sudbury, Ontario
 P3E 1A7
 Telephone: 705-673-7107
 Fax: 705-673-0944 Constituency Office
 Main office - Val Caron
 2914 Highway 69 North
 Unit 5
 Val Caron, Ontario
 P3N 1E3 Telephone: 705-897-2222
 Fax: 705-897-2223 Constituency Offices
 Main office - Elliot Lake
 289-A Hillside Drive South
 Elliot Lake, Ontario
 P5A 1N7
 Telephone: 705-848-8080
 Fax: 705-848-1818 Kapuskasing 12-B Byng Road
 Kapuskasing, Ontario
 P5N 1W3 Telephone: 705-335-5533
 Fax: 705-337-6869 Sudbury office Espanola Noelville Little Current Mindemoya Chapleau Sudbury Whitefish River FN Constituency Office Unit 4B
 555 Barrydowne Rd.
 Sudbury, ON P3A 3T4 Tel.
 705-675-1914
 Fax
 705-675-1456 Constituency office 14 George Walk
 Elliot Lake, ON P5A 2A4
 Tel. 705-461-9710
 Fax 705-461-9720 Toll free
 1-800-831-1899 Constituency office Hanmer Valley Shopping Plaza
 Suite 15
 5085 Hwy. 69 N
 Hanmer, ON P3P 1P7 Tel.
 705-969-3621
 Fax
 705-969-3538 Chapleau Lively Garson Valley East Chelmsford Capreol Dowling</th>
      <th>Contact 1-800-277-9914 1-800-959-8281 1-800-206-7218 option 3 1-800-622-6232 1-800-567-6868 1-800-206-7218 (info) or 1-800-531-7555 (reporting) Paul.Lefebvre@parl.gc.ca Marc.Serre@parl.gc.ca carol.hughes@parl.gc.ca 705-564-3035 705-862-7850 705-967-0639 705-368-0238 705-377-5315 705-864-1515 1-800-267-8097 (info); 1-800-387-3445 (Driver/Vehicle); 1-888-376-5197 (health card) 705-285-4225 or 705-258-4334 JWest-QP@ndp.on.ca mmantha-qp@ndp.on.ca fgelinas-co@ndp.on.ca 705-864-0430 705-688-3959 705-688-3957 705-688-3961 705-688-3963 705-688-3958 705-688-3956</th>
      <th>Service Description Provides assistance with CPP, GIS, and OAS. Administers various social and economic benefit and incentive programs delivered through the tax system
 Provides self-serve internet and forms kiosks, with a limited number of the most popular forms
 Meets with taxpayers by appointment to discuss complex situations with a CRA enquiries agent
 Provides self-serve stamping machines for individuals requiring proof of document delivery in person
 Provides information on income tax deductions, credits and exemptions including:
 GST/HST Credit
 Canada Child Benefit
 Ontario Trillium Benefit Assigns a unique nine-digit number to individuals living in Canada, who wish to work in Canada or receive benefits and services from government programs Services are offered when Service Canada staff travel to communities on a scheduled or occasional basis Acts as a Passport Receiving Agent for Passport Canada
 
 Accepts the following passport applications:
 
 Adult simplified renewal
 General adult passport
 Child's passport ONLY when there is participation of both parents Provides temporary financial assistance to unemployed Canadians who have lost their job through no fault of their own, while they look for work or upgrade their skills
 Also provides temporary financial assistance for individuals who are sick, pregnant, or caring for a newborn or adopted child, as well as those who must care for a family member who is seriously ill with a significant risk of death Hill Office
 House of Commons *
 Ottawa, Ontario,
 Canada
 K1A 0A6
 Telephone: 613-996-8962
 Fax: 613-995-2569 Hill Office
 House of Commons *
 Ottawa, Ontario,
 Canada
 K1A 0A6
 Telephone: 613-995-9107
 Fax: 613-995-9109 Serves the government and the people of Ontario by:
 
 Promoting responsible citizenship, multicultural diversity, voluntary action and full participation for the economic and social benefit of Ontario communities
 Providing programs to attract skilled immigrants, support their settlement and integration in Ontario’s communities
 Encouraging all Ontarians to strengthen their communities through voluntary action and community participation Provides short term financial assistance to individuals and families in need
 Offers Extended Health Benefits to qualifying individuals
 Provides support and assistance to program participants in meeting their participation responsibilities
 Provides information to recipients about participation requirements including seeking employment, basic education, volunteer work, or self employment Provides short term financial assistance to individuals and families in need
 Offers Extended Health Benefits to qualifying individuals
 Provides support and assistance to program participants in meeting their participation responsibilities
 Provides information to recipients about participation requirements including seeking employment, basic education, volunteer work, or self employment Provides short term financial assistance to individuals and families in need
 Offers Extended Health Benefits to qualifying individuals
 Provides support and assistance to program participants in meeting their participation responsibilities
 Provides information to recipients about participation requirements including seeking employment, basic education, volunteer work, or self employment Provides short term financial assistance to individuals and families in need
 Offers Extended Health Benefits to qualifying individuals
 Provides support and assistance to program participants in meeting their participation responsibilities
 Provides information to recipients about participation requirements including seeking employment, basic education, volunteer work, or self employment Provides an online single point of access on information to a variety of government programs and services for residents, visitors and businesses
 Provides referral services to government staff who can provide specialized help Provides an online single point of access on information to a variety of government programs and services for residents, visitors and businesses
 Provides referral services to government staff who can provide specialized help Provides short term financial assistance to individuals and families in need
 Offers Extended Health Benefits to qualifying individuals
 Provides support and assistance to program participants in meeting their participation responsibilities
 Provides information to recipients about participation requirements including seeking employment, basic education, volunteer work, or self employment Legislative Office Room 347
 Main Legislative Building, Queen's Park Toronto, ON M7A 1A8 Tel.
 416-326-7144
 Fax
 416-326-7280 Legislative Office Room 160
 Main Legislative Building, Queen's Park
 Toronto, ON M7A 1A5
 Tel.
 416-325-1938
 Fax
 416-325-1976 Legislative office Room 186
 Main Legislative Building, Queen's Park
 Toronto, ON M7A 1A5
 Tel.
 416-325-9203
 Fax
 416-325-9185 Provides short term financial assistance to individuals and families in need
 Offers Extended Health Benefits to qualifying individuals
 Provides support and assistance to program participants in meeting their participation responsibilities
 Provides information to recipients about participation requirements including seeking employment, basic education, volunteer work, or self employment Provides municipal services to residents including:
 
 Access to a Commissioner of Oaths
 Facility hall rentals; field and ice bookings
 Leisure program registration
 
 Additional Service include:
 Accepts payments for parking tickets, property taxes and hydro/water bills
 Sells bus passes/tickets, cemetery plots, and licenses such as animal, business, lottery and marriage.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Municipal (Non-CGS)</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-</td>
      <td>Métis Nation of Ontario</td>
      <td>Chapleau</td>
      <td>705-864-0224</td>
      <td>Offers a wide range of community-based and culturally appropriate programs and services to Métis people</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-</td>
      <td>Township of Chapleau</td>
      <td>Chapleau</td>
      <td>705-864-1330</td>
      <td>Manages the daily operations and maintenance services within the municipality\n Processes municipal taxes\n Issues permits and licenses including building, lottery and business</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-</td>
      <td>Chapleau Ojibwe First Nation</td>
      <td>COFN</td>
      <td>705-864-2910</td>
      <td>Operates a self government and is responsible for the day to day operations of the First Nation</td>
    </tr>
    <tr>
      <th>5</th>
      <td>-</td>
      <td>Brunswich House First Nation</td>
      <td>BHFN</td>
      <td>705-864-0174</td>
      <td>Operates a self government and is responsible for the day to day operations of the First Nation</td>
    </tr>
    <tr>
      <th>6</th>
      <td>-</td>
      <td>Chapleau Cree First Nation</td>
      <td>CCFN</td>
      <td>705-864-0784</td>
      <td>Operates a self government and is responsible for the day to day operations of the Chapleau Cree First Nation</td>
    </tr>
    <tr>
      <th>7</th>
      <td>-</td>
      <td>M'Chigeeng First Nation</td>
      <td>-</td>
      <td>1-888-310-1122</td>
      <td>M’Chigeeng Anishinabek will be a vibrant, progressive, proud, united Ojibwe-speaking First Nation. Our people will be healthy, self-reliant, respectful of our obligations to Mother Earth, and culturally grounded, showing mutual respect and support for all people."</td>
    </tr>
    <tr>
      <th>8</th>
      <td>-</td>
      <td>Sheguiandah First Nation</td>
      <td>-</td>
      <td>1-888-310-1122</td>
      <td>Operates a self government and is responsible for the day to day operations of its First Nations community.</td>
    </tr>
    <tr>
      <th>9</th>
      <td>-</td>
      <td>Aundeck Omni Kaning</td>
      <td>-</td>
      <td>705-368-2228</td>
      <td>Aundeck Omni Kaning First Nation is a non-profit organization with the mandate of providing services in the development and management of Businesses, Community and Economic Development Initiatives. Human Resource Development and Social Development in which it serves.</td>
    </tr>
    <tr>
      <th>10</th>
      <td>-</td>
      <td>Wiikwemkoong Unceded Territory</td>
      <td>-</td>
      <td>1-800-880-1406</td>
      <td>Operates a self government and is responsible for the day to day operations of its First Nations community.</td>
    </tr>
    <tr>
      <th>11</th>
      <td>-</td>
      <td>Whitefish River First Nation</td>
      <td>Whitefish River FN</td>
      <td>1-800-265-4335</td>
      <td>The Anishinabek of Whitefish River First Nation will strive to improve community well-being by collectively protecting, strengthening and developing its resources and culture through mutual cooperation.</td>
    </tr>
    <tr>
      <th>12</th>
      <td>-</td>
      <td>Atikameksheng Anishnawbek FN</td>
      <td>AAFN</td>
      <td>705-692-3651</td>
      <td>Operates a self government and is responsible for the day to day operations of its First Nations community.</td>
    </tr>
    <tr>
      <th>13</th>
      <td>-</td>
      <td>Wahnapitae First Nation</td>
      <td>-</td>
      <td>705-858-0610</td>
      <td>Operates a self government and is responsible for the day to day operations of its First Nations community.</td>
    </tr>
    <tr>
      <th>14</th>
      <td>-</td>
      <td>Zhiibaahaasing First Nation</td>
      <td>Meldrum Bay</td>
      <td>705-283-3963</td>
      <td>Operates a self government and is responsible for the day to day operations of its First Nations community.</td>
    </tr>
    <tr>
      <th>15</th>
      <td>-</td>
      <td>Sheshegwaning First Nation</td>
      <td>Meldrum Bay</td>
      <td>1-877-246-0564</td>
      <td>Operates a self government and is responsible for the day to day operations of its First Nations community.</td>
    </tr>
    <tr>
      <th>16</th>
      <td>-</td>
      <td>Assiginack Municipality Office</td>
      <td>Manitowaning</td>
      <td>(705) 859-3196</td>
      <td>Retail and services include municipal office, medical clinic, ambulance services, waste disposal, public Internet access, volunteer fire department,  seven churches, post office, public library, grocery store, restaurants, pharmacy, variety and convenience stores, chartered banking services with 24 hour ATM, real estate &amp; insurance sales, building supply, building and construction contractors, automotive sales and services, marine sales and service, liquor/beer store, greenhouses and landscaping, florist, farm and feed supply, aviation storage, and lodging (resorts, motels and bed &amp; breakfasts).</td>
    </tr>
    <tr>
      <th>17</th>
      <td>-</td>
      <td>Billings Township Office</td>
      <td>Kagawong</td>
      <td>(705) 282-2611</td>
      <td>-</td>
    </tr>
    <tr>
      <th>18</th>
      <td>-</td>
      <td>Burpee and Mills Municipality Office</td>
      <td>Evansville</td>
      <td>705-282-0624</td>
      <td>The Township of Burpee &amp; Mills was established in 1997 with the amalgamation of the townships of Burpee and Mills, but the roots of both townships go back to the 1870s. As settlers came to western Manitoulin to create family farms, many of them landed right here in Burpee-Mills. About 330 people call our community home, and we're proud of the friendship we enjoy and the services we provide. Our volunteer fire department and recycling centre are two of the most obvious, but we've got more. Our municipal complex houses a large community hall, township offices, fitness room and gymnasium. Our outdoor ice rink doubles as a basketball court in summer.  We're proud of our community, we take care to make it a great place to live, and we welcome everyone.</td>
    </tr>
    <tr>
      <th>19</th>
      <td>-</td>
      <td>Central Manitoulin Municipality Office</td>
      <td>Mindemoya</td>
      <td>705-377-5726</td>
      <td>-</td>
    </tr>
    <tr>
      <th>20</th>
      <td>-</td>
      <td>Gordon and Barrie Island Municipality Office</td>
      <td>Gore Bay</td>
      <td>705-282-2702</td>
      <td>-</td>
    </tr>
    <tr>
      <th>21</th>
      <td>-</td>
      <td>Gore Bay Municipality Office</td>
      <td>Gore Bay</td>
      <td>(705) 282-2420</td>
      <td>-</td>
    </tr>
    <tr>
      <th>22</th>
      <td>-</td>
      <td>Northeast Manitoulin and The Island (NEMI)Municipality Office\n</td>
      <td>Little Current</td>
      <td>705-368-3500</td>
      <td>-</td>
    </tr>
    <tr>
      <th>23</th>
      <td>-</td>
      <td>Tehkummah Township Office\r\n</td>
      <td>Tehkummah</td>
      <td>705-859-3293\r\n</td>
      <td>-</td>
    </tr>
    <tr>
      <th>24</th>
      <td>-</td>
      <td>Municipality of Markstay-Warren</td>
      <td>Markstay</td>
      <td>705-853-4536</td>
      <td>-</td>
    </tr>
    <tr>
      <th>25</th>
      <td>-</td>
      <td>Municipality of St. Charles</td>
      <td>St. Charles</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script>
		function searchTable() {
			var input, filter, found, table, tr, td, i, j;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td");
				for (j = 0; j < td.length; j++) {
					if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
						found = true;
					}
				}
				if (found) {
					tr[i].style.display = "";
					found = false;
				} else {
					tr[i].style.display = "none";
				}
			}
		}
		</script>
</body>
</html>
