
  <head>
    <title>Community Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  </style>
  </head>


<body>
  <ul>
    <li><a href="WELCOME!.html">Home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Data</a>
      <div class="dropdown-content">
        <a href="Abuse.html">Abuse</a>
        <a href="Addictions.html">Addictions</a>
        <a href="AIDS Hepatitis C.html">AIDS Hepatitis C</a>
        <a href="Anger Management.html">Anger Management</a>
        <a href="Bereavement.html">Bereavement</a>
        <a href="Black Lives.html">Black Lives</a>
        <a href="Brain InjuryTumour.html">Brain InjuryTumour</a>
        <a href="Clothing Donations.html">Clothing Donations</a>
        <a href="Community Programs.html">Community Programs</a>
        <a href="Disability.html">Disability</a>
        <a href="Education.html">Education</a>
        <a href="Emergency Services.html">Emergency Services</a>
        <a href="Employment Services.html">Employment Services</a>
        <a href="Family Services.html">Family Services</a>
        <a href="Financial.html">Financial</a>
        <a href="Food Banks.html">Food Banks</a>
        <a href="Francophones.html">Francophones</a>
        <a href="Government.html">Government</a>
        <a href="Healthcare.html">Healthcare</a>
        <a href="Homelessness.html">Homelessness</a>
        <a href="Housing.html">Housing</a>
        <a href="Indigenous People.html">Indigenous People</a>
        <a href="Legal Assistance.html">Legal Assistance</a>
        <a href="LGBTQ2S+.html">LGBTQ2S+</a>
        <a href="Mental Health.html">Mental Health</a>
        <a href="Newcomers.html">Newcomers</a>
        <a href="Older Adults.html">Older Adults</a>
        <a href="Pregnancy.html">Pregnancy</a>
        <a href="Transportation.html">Transportation</a>
        <a href="Youth.html">Youth</a>
      </div>
    </li>
  </ul>

				<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Lgbtq2S+</h2>
							
						</div>

					</div>
				</div>
	

<input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for ...">

<table border="1" class="dataframe" id="myTable">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Agency Name</th>
      <th>Program Name</th>
      <th>Hours/Day</th>
      <th>Address</th>
      <th>Phone Number(s)</th>
      <th>Website</th>
      <th>Email Address</th>
      <th>Service Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>SACY - TGInnerselves</td>
      <td>Tuesday Evenings 16+ Peer Support Group. Family Support Group. Bi-Weekly on Wednesday 40+ Peer Support Group</td>
      <td>Sunday - Saturday            8am - 6pm</td>
      <td>1W9, 95 Pine St, Sudbury, ON P3C 1W9</td>
      <td>Vincent                      705-673-4396 Ext. 201</td>
      <td>https://www.theactioncentre.ca/</td>
      <td>vincent.bolt@sacy.ca</td>
      <td>Strives to create more inclusive and safer communities for transgender people across Northeastern Ontario and create a better understanding of the challenges that exist when coming out, and transitioning in Northern Ontario.</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Réseau Access Network - Sexual Health Program</td>
      <td>MSM/Gay/Bi Sexual Health Education.</td>
      <td>Monday - Friday             9:30am - 12pm + 1pm - 4pm</td>
      <td>111 Larch St, Greater Sudbury, ON P3E 4T5</td>
      <td>705-688-0500</td>
      <td>https://www.reseauaccessnetwork.com/</td>
      <td>-</td>
      <td>Focuses on the sexual health of men to reduce the possibility of new HIV infections, re-infections, and other sexually transmitted infections. Promotes healthy relationships with sexual partners.</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Lesbian Gay Bi Trans Youthline</td>
      <td>Phone Hotline, Texting Hotline, Chat on Website\n</td>
      <td>Sunday - Friday               Phone 6pm - 9pm       Text 4pm - 9:30pm Website Chat 4pm -9:30pm</td>
      <td>Provincial</td>
      <td>Phone - 1-888-687-9688                       Text - 647-694-4275</td>
      <td>https://www.youthline.ca/get-support/ways-we-support/</td>
      <td>askus@youthline.ca</td>
      <td>Peer support by telephone, email, text and instant messaging (chat) * information and referral * anonymous and confidential * Youth Line Blog * referral database of LGBT (Lesbian, Gay, Bi, Trans) youth services</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Fierte Sudbury Pride</td>
      <td>Organized Events</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>-</td>
      <td>www.sudburypride.com</td>
      <td>-</td>
      <td>FSP is a volunteer run not for profit organization supporting the 2SLGBTQ+ community within the City of Greater Sudbury</td>
    </tr>
    <tr>
      <th>5</th>
      <td>NISA Northern Initiative for Social Action</td>
      <td>Peer Support Groups   One on One Peer Support</td>
      <td>Monday - Friday          9:30am - 3:30pm</td>
      <td>36 Elgin St. 2nd Floor. Sudbury, Ontario</td>
      <td>(705) 222-6472</td>
      <td>http://nisa.on.ca/</td>
      <td>info@nisa.on.ca</td>
      <td>Support and social groups for LGBTQ2s+ individuals</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Older Adults Reseau Access</td>
      <td>2S-LGBTQ+ Older Adults. Safer Spaces Programs.</td>
      <td>Monday - Friday             9:30am - 12pm + 1pm - 4pm</td>
      <td>111 Larch St, Greater Sudbury, ON P3E 4T5</td>
      <td>705-688-0500 Ext.222</td>
      <td>https://www.reseauaccessnetwork.com/2s-lgbtq-older-adults/</td>
      <td>-</td>
      <td>Inclusive social programs, activities or initiatives offer a space where 2S-LGBTQ+ older adults can come together, find support and overcome isolation while accessing services that are available to and welcoming to older adults.</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Sexual Health Clinic</td>
      <td>Call to book Appt.</td>
      <td>-</td>
      <td>800 Centre St #100 Espanola, ON P5E 1J1</td>
      <td>705-222-9202</td>
      <td>https://www.phsd.ca/clinics-classes-events/sexual-health-clinic/</td>
      <td>-</td>
      <td>Nurses provide a variety of services such as; confidential sexual health information, testing and free treatment of sexual transmitted infections, anonymous HIV testing, emergency contraception, low-cost birth control, pregnancy testing and options conselling, free condoms, counselling by telephone, harm reduction services, free hepatitis A and B immunizations, and presentation to hish-risk groups.</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Sexual Health Clinic</td>
      <td>Call to book Appt.</td>
      <td>-</td>
      <td>6163 ON-542, Mindemoya, ON P0P 1S0</td>
      <td>705-370-9200</td>
      <td>https://www.phsd.ca/clinics-classes-events/sexual-health-clinic/</td>
      <td>-</td>
      <td>Nurses provide a variety of services such as; confidential sexual health information, testing and free treatment of sexual transmitted infections, anonymous HIV testing, emergency contraception, low-cost birth control, pregnancy testing and options conselling, free condoms, counselling by telephone, harm reduction services, free hepatitis A and B immunizations, and presentation to hish-risk groups.</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Sexual Health Clinic</td>
      <td>Call to book Appt.</td>
      <td>-</td>
      <td>St. Charles</td>
      <td>705-222-9201</td>
      <td>https://www.phsd.ca/clinics-classes-events/sexual-health-clinic/</td>
      <td>-</td>
      <td>Nurses provide a variety of services such as; confidential sexual health information, testing and free treatment of sexual transmitted infections, anonymous HIV testing, emergency contraception, low-cost birth control, pregnancy testing and options conselling, free condoms, counselling by telephone, harm reduction services, free hepatitis A and B immunizations, and presentation to hish-risk groups.</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Sexual Health Clinic</td>
      <td>Call to book Appt.</td>
      <td>-</td>
      <td>10 Elm Street, Unit 130, Sudbury, ON P3C 1S7</td>
      <td>(705)-522-9200</td>
      <td>https://www.phsd.ca/clinics-classes-events/sexual-health-clinic/</td>
      <td>-</td>
      <td>Nurses provide a variety of services such as; confidential sexual health information, testing and free treatment of sexual transmitted infections, anonymous HIV testing, emergency contraception, low-cost birth control, pregnancy testing and options conselling, free condoms, counselling by telephone, harm reduction services, free hepatitis A and B immunizations, and presentation to hish-risk groups.</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Sexual Health Clinic</td>
      <td>Call to book Appt.</td>
      <td>-</td>
      <td>100 Pine St, Chapleau, ON P0M 1K0</td>
      <td>(705)-860-9200</td>
      <td>https://www.phsd.ca/clinics-classes-events/sexual-health-clinic/</td>
      <td>-</td>
      <td>Nurses provide a variety of services such as; confidential sexual health information, testing and free treatment of sexual transmitted infections, anonymous HIV testing, emergency contraception, low-cost birth control, pregnancy testing and options conselling, free condoms, counselling by telephone, harm reduction services, free hepatitis A and B immunizations, and presentation to hish-risk groups.</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Shkagmik-Kwe Health Centre</td>
      <td>Two Spirited Circle/LGBT Group</td>
      <td>Monday - Friday         8:30am -4:30pm</td>
      <td>161 Applegrove St, Sudbury, ON P3C 1N2</td>
      <td>(705)-675-1596</td>
      <td>https://skhc.ca/programs-services/west-primary-care/</td>
      <td>-</td>
      <td>Support and social groups for LGBTQ2s+ individuals from 13+</td>
    </tr>
  </tbody>
</table>
	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script>
		function searchTable() {
			var input, filter, found, table, tr, td, i, j;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td");
				for (j = 0; j < td.length; j++) {
					if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
						found = true;
					}
				}
				if (found) {
					tr[i].style.display = "";
					found = false;
				} else {
					tr[i].style.display = "none";
				}
			}
		}
		</script>
</body>
</html>
