
  <head>
    <title>Community Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  </style>
  </head>


<body>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Data</a>
      <div class="dropdown-content">
        <a href="Abuse.html">Abuse</a>
        <a href="Addictions.html">Addictions</a>
        <a href="AIDS Hepatitis C.html">AIDS Hepatitis C</a>
        <a href="Anger Management.html">Anger Management</a>
        <a href="Bereavement.html">Bereavement</a>
        <a href="Black Lives.html">Black Lives</a>
        <a href="Brain InjuryTumour.html">Brain InjuryTumour</a>
        <a href="Clothing Donations.html">Clothing Donations</a>
        <a href="Community Programs.html">Community Programs</a>
        <a href="Disability.html">Disability</a>
        <a href="Education.html">Education</a>
        <a href="Emergency Services.html">Emergency Services</a>
        <a href="Employment Services.html">Employment Services</a>
        <a href="Family Services.html">Family Services</a>
        <a href="Financial.html">Financial</a>
        <a href="Food Banks.html">Food Banks</a>
        <a href="Francophones.html">Francophones</a>
        <a href="Government.html">Government</a>
        <a href="Healthcare.html">Healthcare</a>
        <a href="Homelessness.html">Homelessness</a>
        <a href="Housing.html">Housing</a>
        <a href="Indigenous People.html">Indigenous People</a>
        <a href="Legal Assistance.html">Legal Assistance</a>
        <a href="LGBTQ2S+.html">LGBTQ2S+</a>
        <a href="Mental Health.html">Mental Health</a>
        <a href="Newcomers.html">Newcomers</a>
        <a href="Older Adults.html">Older Adults</a>
        <a href="Pregnancy.html">Pregnancy</a>
        <a href="Transportation.html">Transportation</a>
        <a href="Youth.html">Youth</a>
      </div>
    </li>
  </ul>

				<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Mental Health</h2>
							
						</div>

					</div>
				</div>
	

<input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for ...">

<table border="1" class="dataframe" id="myTable">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Agency Name</th>
      <th>Program Name</th>
      <th>Address</th>
      <th>Phone Number(s)</th>
      <th>Website</th>
      <th>Email Address(es)</th>
      <th>Service Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Health Sciences North Mental Health and Addiction Programs</td>
      <td>Withdrawal / Crisis*WMS1</td>
      <td>336 Pine Street</td>
      <td>-</td>
      <td>Age 16 and up</td>
      <td>-</td>
      <td>Twenty-four hour withdrawal management service. Co-ed facility. Referrals done to treatment with completed assessment package. Alcoholics Anonymous and Narcotics Anonymous encouraged.</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-</td>
      <td>Adult Alcohol and Drug Community Treatment Program</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>Ages 16 and up</td>
      <td>-</td>
      <td>Treatment models offered are psychosocial, CBT, stages of change, harm reduction and multidisciplinary. Groups offered: guided self-change, structured relapse prevention, aftercare, variety of skills groups. Evening groups may be available.</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-</td>
      <td>Assertive Community Treatment Team</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>Ages 16 and up</td>
      <td>-</td>
      <td>The Assertive Community Treatment Teams are interdisciplinary teams of mental health professionals who provide client-centred, highly individualized treatment, support and rehabilitation to people suffering from schizophrenia, schizoaffective or bipolar illness. The individuals served are adults, 16 years or older, with the highest intensity of need, due to complex, long-term, persistent symptoms.</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-</td>
      <td>Behavioural Support Outreach Team (BSO)</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>Ages 60 and up</td>
      <td>-</td>
      <td>The Behavioural Support Outreach team (BSO) is integrated with the Seniors Mental Health Team, providing outreach services to caregivers and individuals with responsive behaviours in long term care facilities, acute care, and in the community. Team members facilitate patient and caregiver support to improve care and quality of life of older individuals with behaviours associated with dementia or complex and challenging neurodegenerative cognitive disorders.</td>
    </tr>
    <tr>
      <th>5</th>
      <td>-</td>
      <td>Case Management *MMT</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>-</td>
      <td>-</td>
      <td>There are ongoing assessments and adjustments of client treatment plans. Addiction treatment is offered through group therapy. Discharge planning is provided.</td>
    </tr>
    <tr>
      <th>6</th>
      <td>-</td>
      <td>Central Intake and Referral Coordination (CIRC)</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>-</td>
      <td>-</td>
      <td>The Central Intake and Referral Coordination (CIRC) program is the entry point to mental health and addiction services in the City of Greater Sudbury, and provides a standardized referral and screening process which streamlines access to most Health Sciences North (HSN) Mental Health and Addiction programs (excluding Crisis Intervention Program). Services include screening and referral coordination.</td>
    </tr>
    <tr>
      <th>7</th>
      <td>-</td>
      <td>Children's Mobile Crisis Program</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>Ages 0 to 17</td>
      <td>-</td>
      <td>The Children's Mobile Crisis Program is a community-based program provided in partnership with Compass (Child and Family Centre). Services are available to children and youth experiencing a mental health crisis, harm to self or others, suicidal thoughts, family crisis and acute behavioural concerns. Children and youth assessed as being at risk may be referred to the Compass (Child and Family Centre) crisis staff for face-to-face treatment and follow-up. Compass (Child and Family Centre) staff have the capacity to see clients in community settings, such as the hospital, local schools or organization settings. If the child or youth lives outside the City of Greater Sudbury and is assessed as being at risk, the Health Sciences North crisis worker will refer to the Compass (Child and Family Centre) rural community clinic for follow-up the next working day.</td>
    </tr>
    <tr>
      <th>8</th>
      <td>-</td>
      <td>Concurrent Disorders Program</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>-</td>
      <td>-</td>
      <td>The Concurrent Disorders Program provides community outreach services to individuals aged 16 and over who are experiencing a coexisting mental health and substance abuse problem at the same time within the district of Sudbury. Service provision includes bridging support services by linking individuals to longer-term community-based services and psychiatry. Other services offered include consultations and clinical support for the Health Sciences North/ Horizon Santé-Nord Sudbury Mental Health and Addictions Centre. Seeking safety groups (introduction and advanced) are also offered.</td>
    </tr>
    <tr>
      <th>9</th>
      <td>-</td>
      <td>Crisis Intervention Program</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>-</td>
      <td>-</td>
      <td>The Crisis Intervention Program provides 24/7/365 assessment and brief intervention services to individuals living with mental illness, as well as those experiencing distressing feelings, thoughts related to harm towards self or others. Team members will meet with individuals and families to address their immediate situation and plan an effective course of action to resolve the crisis. If longer term counselling, treatment of other disorders or hospital admission seems warranted, referral to services is offered.</td>
    </tr>
    <tr>
      <th>10</th>
      <td>-</td>
      <td>Early Psychosis Intervention Program (EPI)</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>-</td>
      <td>-</td>
      <td>The Early Psychosis Intervention Program (EPI) provides assessments; intensive case management; medication management; family treatment and support; compensatory strategies for recovery; and maintenance programming.</td>
    </tr>
    <tr>
      <th>11</th>
      <td>-</td>
      <td>Family Education and Support Service</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>Ages 18 and up</td>
      <td>-</td>
      <td>This is a group for families and friends of individuals living with mental illness and addictions. The main purpose is to promote self-care in the face of everyday situations. We meet as a group to offer tools and strategies that may help families and friends manage the impact of their loved one's experience with mental illness and addictions. We do this by providing information and sharing experiences that highlight personal and family strengths. It is a safe place for families and friends to share their views and to connect with others for support.</td>
    </tr>
    <tr>
      <th>12</th>
      <td>-</td>
      <td>Mobile Crisis Response Program</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>Ages 18 and up</td>
      <td>-</td>
      <td>The Mobile Crisis Response Team works in association with the Crisis Intervention Program, Greater Sudbury Police Services, EMS, and Health Sciences North Emergency Department. Services are provided to children and adults living within the District of Sudbury at a safe location that best meets the needs of individuals. Individuals can be seen in shelters, treatment facilities or within their own home environment.</td>
    </tr>
    <tr>
      <th>13</th>
      <td>-</td>
      <td>Perinatal Mental Health Program</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>-</td>
      <td>-</td>
      <td>We offer individual assessment and treatment, family support, referral to community organizations, hope and understanding, and full participation in a treatment plan. We also offer consultation services to other health care providers.</td>
    </tr>
    <tr>
      <th>14</th>
      <td>-</td>
      <td>Positive Steps Case Management Program</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>-</td>
      <td>-</td>
      <td>The program serves individuals who are 16 years of age and older, who have been diagnosed with a severe mental illness such as schizophrenia, schizoaffective disorder or other psychotic disorders; and individuals who have multiple and complex needs. The program consists of: case management, Community Treatment Order Planning (CTO), administration of long acting medication, and rehabilitation and recovery programs. Model of service is psychosocial rehabilitation.</td>
    </tr>
    <tr>
      <th>15</th>
      <td>-</td>
      <td>Problem Gambling Community Treatment Program</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>-</td>
      <td>-</td>
      <td>Individual and group based treatment for problem gambling. Appointments scheduled as needed. Evening groups may be available.</td>
    </tr>
    <tr>
      <th>16</th>
      <td>-</td>
      <td>Rapid Access Addiction Medicine Clinic (RAAM)</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>-</td>
      <td>-</td>
      <td>The Rapid Access Addiction Medicine Clinic (RAAM) is a medical clinic for individuals who are looking for help in regards to their substance use. The doctors at the clinic have experience treating individuals struggling with alcohol or opioid use. Doctors will assess each individual and develop a treatment plan accordingly. Referrals to community organizations for further support can be arranged.</td>
    </tr>
    <tr>
      <th>17</th>
      <td>-</td>
      <td>Regional Eating Disorders Program</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>Ages 1 and up</td>
      <td>-</td>
      <td>The Regional Eating Disorders Program is a community-based outpatient assessment and treatment centre which serves clients and their families suffering from anorexia nervosa and bulimia. Services are offered to clients of all ages in a multi-disciplinary setting. Consultation/training and mentoring is also available to other health care providers assisting clients with eating disorders throughout the Northeast region. Model of service is maudsley approach with cognitive-behavioural, dialectical behavioural, and emotion focused therapy.</td>
    </tr>
    <tr>
      <th>18</th>
      <td>-</td>
      <td>Seniors Mental Health Outreach Program</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>-</td>
      <td>-</td>
      <td>The Seniors Mental Health Outreach Program serves anyone 60 years of age or over who is experiencing depression/ anxiety, memory deterioration or confusion, overwhelming fear of harm, feelings of social isolation, alcohol or drug misuse, or caregiver stress. The program serves the aging population and caregivers by assisting individuals with mental health disorders of recent onset complicated by age-related illness or functional needs. It also serves persons with serious mental illness requiring complex care, or those with behavioural difficulties associated with dementia. A comprehensive geriatric assessment, including a focused mental health and psycho-social assessment, is completed. We assess emotional, behavioural, functional, social and physical health, and follow up with a variety of treatment approaches to resolve problems. The program also provides referral, consultation and advocacy with other organizations.</td>
    </tr>
    <tr>
      <th>19</th>
      <td>-</td>
      <td>The Mood and Anxiety Program</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>-</td>
      <td>-</td>
      <td>The Mood and Anxiety Program provides services to individuals aged 16 and over who are experiencing symptoms of mood and/or anxiety disorders. Specialized groups are available for Axis II diagnosis for OCD, and Bi-polar disorder. Individual counselling is available for PTSD, provided diagnosis has been confirmed and clients are assessed as being ready to engage in treatment.</td>
    </tr>
    <tr>
      <th>20</th>
      <td>-</td>
      <td>Youth Community Treatment Program</td>
      <td>127 Cedar Street</td>
      <td>705-523-4988 ext. 4221</td>
      <td>14 to 18 yrs</td>
      <td>-</td>
      <td>We provide individual treatment as well as treatment for the family group, as needed. The program comprises harm reduction, family therapy, relapse prevention, referral and follow-up, cognitive-behavioural and systems approaches.</td>
    </tr>
    <tr>
      <th>21</th>
      <td>-</td>
      <td>HSN Short Term Crisis Safe Bed Program</td>
      <td>Sudbury Pine Street</td>
      <td>705-671-7366</td>
      <td>-</td>
      <td>-</td>
      <td>HSN Operates a short term, 7 to 10 day, residential program for individuals in crisis, Provides a Safe Bed Registered Nurse who is available on-site Mon-Sun 24 hours, Assesses individuals and provides support and assistance</td>
    </tr>
    <tr>
      <th>22</th>
      <td>-</td>
      <td>Child and Adolescent Mental Health Program (CAMHP)</td>
      <td>-</td>
      <td>-</td>
      <td>Under 18 yrs of age</td>
      <td>-</td>
      <td>Inpatient Assessment, stabilization and treatment for medically stable children and youth under the age of 18.</td>
    </tr>
    <tr>
      <th>23</th>
      <td>-</td>
      <td>Psychiatric Outpatient Clinic</td>
      <td>705-675-5900 ext. 8238</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>The Psychiatric Outpatient Clinic provides specialized outpatient psychiatric consultations and follow-up. Psychiatrists provide assessment and ongoing treatment as needed.</td>
    </tr>
    <tr>
      <th>24</th>
      <td>-</td>
      <td>HSN - Kirkwood site</td>
      <td>-</td>
      <td>705-675-5900</td>
      <td>-</td>
      <td>-</td>
      <td>The Psychiatric Outpatient Clinic provides specialized outpatient psychiatric consultations and follow-up. Psychiatrists provide assessment and ongoing treatment as needed.</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Shkagamik-kwe Health Centre</td>
      <td>Supportive Counselling &amp; Services - Mental Health</td>
      <td>161 Applegrove Street Shkagamik-kwe Health Centre</td>
      <td>705-675-1596</td>
      <td>-</td>
      <td>-</td>
      <td>Utilizing a case management model the Mental Health Program assists individuals to access supports and services in the local and Indigenous community that may assist a person or family in improving their overall quality of life.</td>
    </tr>
    <tr>
      <th>26</th>
      <td>-</td>
      <td>Counselling and Treatment</td>
      <td>161 Applegrove Street Shkagamik-kwe Health Centre</td>
      <td>705-675-1596 ext. 240</td>
      <td>-</td>
      <td>-</td>
      <td>Individual and couple counselling is provided on a need basis; whether it is for anxiety, mood, depression, anger or relationships. Psychiatric consultations can be arranged with a physician's referral.</td>
    </tr>
    <tr>
      <th>27</th>
      <td>-</td>
      <td>Crisis Intervention</td>
      <td>161 Applegrove Street Shkagamik-kwe Health Centre</td>
      <td>705-675-1596</td>
      <td>-</td>
      <td>-</td>
      <td>Using crisis response and brief therapy we assist persons to return to normal functioning in order to better address life concerns. If required, we will support an individual to access more comprehensive crisis intervention services through Health Sciences North.</td>
    </tr>
    <tr>
      <th>28</th>
      <td>ESPANOLA/MANITOULIN</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Noojmowin Teg Health Centre</td>
      <td>-</td>
      <td>Espanola/Manitoulin Island</td>
      <td>705-368-2182</td>
      <td>-</td>
      <td>-</td>
      <td>Provides culturally relevant services and is commited to supporting and promoting the overall wholistic health and well being of Anishnawbek individuals, families, and communities within the district of Manitoulin Island and area.</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Mnaamodzawin Health Services Inc.</td>
      <td>-</td>
      <td>Aundeck Omni Kaning/Little Current</td>
      <td>705-368-2182</td>
      <td>-</td>
      <td>-</td>
      <td>We provide services to individuals and families within partnering communities which support spiritual, emotional, physical, and mental well-being. Traditional approaches can be incorporated according to clients’ interests and needs. Services, which will be tailored to the unique needs of each client, range from health promotion to treatment, support, and aftercare</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Nadmadwin Mental Health- Wikwemikong Health Centre</td>
      <td>-</td>
      <td>Wikwemikong</td>
      <td>705-859-3164</td>
      <td>-</td>
      <td>-</td>
      <td>Mental health and addiction are real and impact everyone. Our mission is to improve the overall mental health status of community members of all ages. The focus is on one on one clinical counselling as well as community development and training on mental health and addictions issues and awareness.</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Sheguindah First Nation Health</td>
      <td>-</td>
      <td>Sheguindah</td>
      <td>705-368-1150</td>
      <td>-</td>
      <td>-</td>
      <td>Health centre providing family medical care and community-based health programs * team of family doctors, nurse practitioners and other health care providers * referral to other regional health services\r\n\r\nCulturally appropriate programs and services for Aboriginals, combining traditional health and Western medical practices * aims to improve the social supports and conditions that affect long-term health</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Sudbury East Community Health Centre</td>
      <td>-</td>
      <td>5-39, rue Lafontaine Street</td>
      <td>705-599-3004</td>
      <td>https://univi.ca/</td>
      <td>-</td>
      <td>Promoting and improving the health of community residents by providing health promotion programs, disease prevention strategies and timely access to primary health care using an interdisciplinary approach with an emphasis on working with our community partners.</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Manitoulin Mental Health Clinic</td>
      <td>-</td>
      <td>11 Meredith St. Little Current</td>
      <td>705-282-1519</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Mental Health Clinic is a Private rehab located in Little Current, Ontario. Manitoulin Mental Health Clinic specializes in the treatment of mental health, substance, drug and alcohol abuse.</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Canadian Mental Health Association Clinical Services</td>
      <td>CMHA Sudbury Manitoulin   Intake</td>
      <td>111 Elm Street</td>
      <td>705-675-7252 ext. 244</td>
      <td>16+</td>
      <td>-</td>
      <td>Intake is a service that Identifies individuals’ needs through a single point of access to CMHA programs. Information can be provided to individuals through a brief service, family support and/or telephone referrals to community services.</td>
    </tr>
    <tr>
      <th>36</th>
      <td>-</td>
      <td>Case Management</td>
      <td>111 Elm Street</td>
      <td>705-675-7252 ext. 244</td>
      <td>16+</td>
      <td>-</td>
      <td>Case Management services support individuals in making changes in the environments of their life, of their choice, such as living, working, learning, and/or social. With the help of a case manager, they work together towards looking at the barriers preventing them from being successful in achieving their goals. An individual does not have to have a goal in mind at the time of intake, as the case manager can support the person in looking at areas in their life they are unsatisfied with and would like to change.</td>
    </tr>
    <tr>
      <th>37</th>
      <td>-</td>
      <td>Housing Case Management</td>
      <td>111 Elm Street</td>
      <td>705-675-7252 ext. 230</td>
      <td>16+</td>
      <td>-</td>
      <td>Housing Case Management is a service that provides short-term support to individuals who are receiving housing services from CMHA and require assistance in sustaining and maintaining their housing. Individuals can receive assistance from a Transitional Community Support Worker for 3 to 4 months to enhance daily living skills and maintain their wellness to reduce crisis, hospitalizations and risk of homelessness. Short term support activities will involve one-on-one planning (personal care plans) and may include crisis prevention, hospital diversion, development of daily living skills, advocacy with landlords, peer support and an opportunity to access community resources and supports.</td>
    </tr>
    <tr>
      <th>38</th>
      <td>-</td>
      <td>Justice Case Management</td>
      <td>111 Elm Street</td>
      <td>705-675-7252 ext. 239</td>
      <td>18+</td>
      <td>-</td>
      <td>The Justice Program provides support to individuals with mental health and substance related problems, who are involved in the criminal justice system.  Referrals to all programs can come from legal counsel, family members, friends, community organizations, police etc.</td>
    </tr>
    <tr>
      <th>39</th>
      <td>-</td>
      <td>Youth Mental Health Court Outreach</td>
      <td>111 Elm Street</td>
      <td>705-675-7252 ext. 239</td>
      <td>12 years to 17 years</td>
      <td>-</td>
      <td>Youth Mental Health Court Outreach is a service that provides support to youth aged 12 to 17 years of age, who are involved in the court system, by providing court support, mental health diversions, advocacy and education etc.  Community education regarding youth mental health is provided, as requested.</td>
    </tr>
    <tr>
      <th>40</th>
      <td>-</td>
      <td>Education</td>
      <td>111 Elm Street</td>
      <td>-</td>
      <td>16+</td>
      <td>education@cmha-sm.on.ca</td>
      <td>The Health Promotion Program provides opportunities for mental health and addiction education, increasing awareness, reducing stigma, developing skills and supporting recovery. The program offers: 1) training workshops and certificate programs on mental health, addictions, and suicide prevention. 2) free presentations and informational booths to schools, workplaces, and groups of individuals seeking to learn more about mental health, other services we provide, and practical skills to improve mental health and reduce stigma.</td>
    </tr>
    <tr>
      <th>41</th>
      <td>-</td>
      <td>Community Mobilization</td>
      <td>111 Elm Street</td>
      <td>705-675-7252</td>
      <td>-</td>
      <td>-</td>
      <td>Community Mobilization (CM) is a partnership representing over 25 agencies from diverse community sectors – health, children’s services, justice, education, mental health and addictions, and social services. Working together, our Mission is “leading and connecting for improved community well-being through proactive collaboration and response.”  One aspect of the CM program is the Rapid Mobilization Table (RMT). Representatives from partner agencies meet twice each week to collaboratively identify situations that place Sudbury residents at high risk of harm. All necessary partners then plan and participate in a timely, coordinated response – connecting those at risk with the services and supports that can help.</td>
    </tr>
    <tr>
      <th>42</th>
      <td>-</td>
      <td>Off the Street (emergency shelter)</td>
      <td>200 Larch</td>
      <td>705-675-7252 ext. 252</td>
      <td>18+</td>
      <td>-</td>
      <td>OTS emergency shelter operates year-round and offers 30 cots. Open seven days a week from 10 p.m. to 8 a.m., the shelter provides a safe, warm place to sleep with light refreshments, outreach, and referral services to individuals 18+ of all genders who are homeless and unable to access other shelter services. As a low barrier shelter, OTS aims to help as many people as possible. The shelter does not turn away people who are under the influence. However, security conducts bag checks, and no drugs, alcohol, or weapons are permitted on the premises.</td>
    </tr>
    <tr>
      <th>43</th>
      <td>COUNSELLING/CLINICAL</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Canadian Mental Health Association Clinical Services</td>
      <td>-</td>
      <td>Elm Street Sudbury</td>
      <td>705-675-7252 or 1-866-285-2642</td>
      <td>-</td>
      <td>-</td>
      <td>As the nationwide leader and champion for mental health, CMHA facilitates access to the resources people require to maintain and improve mental health and community integration, build resilience, and support recovery from mental illness. Clinical services: Clinical Services provides service to clients from a psychiatric rehabilitation approach. Clients will look at their readiness for change and set overall rehabilitation goals in the environments of living, learning, working or social.</td>
    </tr>
    <tr>
      <th>45</th>
      <td>-</td>
      <td>-</td>
      <td>Espanola</td>
      <td>705-869-1564 X4229</td>
      <td>-</td>
      <td>-</td>
      <td>As the nationwide leader and champion for mental health, CMHA facilitates access to the resources people require to maintain and improve mental health and community integration, build resilience, and support recovery from mental illness. Clinical services: Clinical Services provides service to clients from a psychiatric rehabilitation approach. Clients will look at their readiness for change and set overall rehabilitation goals in the environments of living, learning, working or social.</td>
    </tr>
    <tr>
      <th>46</th>
      <td>-</td>
      <td>-</td>
      <td>Little Current</td>
      <td>705-368-0756 X 237</td>
      <td>-</td>
      <td>-</td>
      <td>As the nationwide leader and champion for mental health, CMHA facilitates access to the resources people require to maintain and improve mental health and community integration, build resilience, and support recovery from mental illness. Clinical services: Clinical Services provides service to clients from a psychiatric rehabilitation approach. Clients will look at their readiness for change and set overall rehabilitation goals in the environments of living, learning, working or social.</td>
    </tr>
    <tr>
      <th>47</th>
      <td>CONNECT Counselling Services</td>
      <td>-</td>
      <td>1233 Paris Street</td>
      <td>TTY: 877-817-8205 Toll Free: 866-518-0000</td>
      <td>-</td>
      <td>-</td>
      <td>This is a community-based program offering mental health, wellness and addiction services for the deaf, deafened and hard of hearing and their families. Support, education, advocacy and counselling are offered. Assessment, treatment and referral as well. Fully accessible for Culturally Deaf, oral deaf, deafened and hard of hearing - use of American Sign Language (ASL), Langue Des Signes Quebecois (LSQ), interpreters, captionists, technical devices, and video-conference for remote locations. Community outreach - education to consumers and service providers, service partnerships. Model of service is matched to consumer needs. Average length of stay is matched to consumer needs.</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Centre for Addiction &amp; Mental Health</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-675-1195</td>
      <td>-</td>
      <td>-</td>
      <td>Services are provided in a personal and family-centred manner, in both English and French, with a focus on cultural safety. Mental health and addictions professionals are available to provide assessment, treatment, support and consultation to individuals and their families.</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Inner City Home (have limited income)</td>
      <td>-</td>
      <td>251 Elm Street, Sudbury</td>
      <td>705-675-7550</td>
      <td>-</td>
      <td>-</td>
      <td>Counselling available on financial need</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Sudbury Counselling Centre</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-524-9629 x 0</td>
      <td>-</td>
      <td>-</td>
      <td>The Sudbury Counselling Centre has provides individual, couple and family counselling</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Compass</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>705-525-1008</td>
      <td>-</td>
      <td>-</td>
      <td>The agency will deliver services that: conform to the following descending order of priority: Clients who are children in need of treatment.Consumers who are significantly involved with these children. The community at large.</td>
    </tr>
    <tr>
      <th>52</th>
      <td>-</td>
      <td>-</td>
      <td>Espanola</td>
      <td>705-869-1564</td>
      <td>-</td>
      <td>-</td>
      <td>The agency will deliver services that: conform to the following descending order of priority: Clients who are children in need of treatment.Consumers who are significantly involved with these children. The community at large.</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Mnaamodzawin Health Services Inc.</td>
      <td>-</td>
      <td>Aundeck Omni Kaning/Little Current</td>
      <td>705-368-2182</td>
      <td>-</td>
      <td>-</td>
      <td>We provide services to individuals and families within partnering communities which support spiritual, emotional, physical, and mental well-being. Traditional approaches can be incorporated according to clients’ interests and needs. Services, which will be tailored to the unique needs of each client, range from health promotion to treatment, support, and aftercare</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Sudbury East Community Health Centre</td>
      <td>-</td>
      <td>5-39, rue Lafontaine Street</td>
      <td>705-599-3004</td>
      <td>https://univi.ca/</td>
      <td>-</td>
      <td>Promoting and improving the health of community residents by providing health promotion programs, disease prevention strategies and timely access to primary health care using an interdisciplinary approach with an emphasis on working with our community partners.</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Manitoulin Mental Health Clinic</td>
      <td>-</td>
      <td>11 Meredith St. Little Current</td>
      <td>705-282-1519</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Mental Health Clinic is a Private rehab located in Little Current, Ontario. Manitoulin Mental Health Clinic specializes in the treatment of mental health, substance, drug and alcohol abuse.</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Nadmadwin Mental Health- Wikwemikong Health Centre</td>
      <td>-</td>
      <td>Wikwemikong</td>
      <td>705-859-3164</td>
      <td>-</td>
      <td>-</td>
      <td>Mental health and addiction are real and impact everyone. Our mission is to improve the overall mental health status of community members of all ages. The focus is on one on one clinical counselling as well as community development and training on mental health and addictions issues and awareness.</td>
    </tr>
    <tr>
      <th>57</th>
      <td>OUSIDE SUDBURY</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Dual Diagnosis Inpatient Unit (Birch Maple Lodge)</td>
      <td>-</td>
      <td>North Bay</td>
      <td>705-474-8600 ext. 3505</td>
      <td>https://nbrhc.on.ca/programs-services/mental-health-programs-services/regional-specialized-mental-health-program/dual-diagnosis-inpatient-unit-birch-lodge/</td>
      <td>-</td>
      <td>Birch Maple Lodge provides short-term (up to 18 months) inpatient assessment, treatment and rehabilitation for adults with a moderate to profound developmental disability and mental health concerns (dual diagnosis). The goal is to assist patients in asserting themselves in their care planning to enhance quality of life and wellness, decrease behavioural challenges, teach new skills, and improve relationships.</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Rural Outreach-Community Mental Health</td>
      <td>-</td>
      <td>East Algoma (Elliot Lake)</td>
      <td>705-848-9131</td>
      <td>-</td>
      <td>-</td>
      <td>This community- based program provides individualized counselling and treatment services to persons 16 years and over who have mental health concerns and for individuals diagnosed with a mental illness. The catchment area includes Elliot Lake, Spanish, Spragge, Serpent River, Algoma Mills, Blind River and Iron Bridge (North Shore). The main office is in Elliot Lake with an outreach office in Blind River. Services are provided in the office and in the community.</td>
    </tr>
    <tr>
      <th>60</th>
      <td>-</td>
      <td>-</td>
      <td>Espanola</td>
      <td>705-869-1564</td>
      <td>-</td>
      <td>-</td>
      <td>This community- based program provides individualized counselling and treatment services to persons 16 years and over who have mental health concerns and for individuals diagnosed with a mental illness. The catchment area includes Espanola and surrounding areas (Nairn Centre, McKerrow, Willisville, Whitefish Falls, Webbwood, Massey and Walford). The main office is located in Espanola with an outreach office is in Massey. Outreach to other communities/sites is available dependent on needs. Services are provided in the office and in the community.</td>
    </tr>
    <tr>
      <th>61</th>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin</td>
      <td>705-368-0756</td>
      <td>-</td>
      <td>-</td>
      <td>This community- based program provides individualized counselling and treatment services to persons 16 years and over who have mental health concerns and for individuals diagnosed with a mental illness. The program serves residents of Manitoulin Island. The main office is located in Little Current with outreach offices in Mindemoya, Gore Bay and Silverwater. Outreach to other communities/sites is available dependent on needs. Services are provided in the office and in the community.</td>
    </tr>
    <tr>
      <th>62</th>
      <td>-</td>
      <td>-</td>
      <td>Sudbury East (St-Charles)</td>
      <td>705-867-5233</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Mood Disorders Association</td>
      <td>-</td>
      <td>National</td>
      <td>1-888-486-8236</td>
      <td>-</td>
      <td>-</td>
      <td>Recovery Supports and Programs: To support recovery and healing for individuals affected by mood disorders and their families by providing innovative, high quality supports and programs.\n \n Entry and Navigation: To be responsive to the needs of individuals affected by mood disorders and their families by facilitating their entry to recovery and helping them to navigate to the services and supports they need.\n \n Knowledge: To contribute to knowledge of the effectiveness of recovery supports and programs through evaluation.\n \n Awareness and Outreach: To engage the community to increase awareness about mood disorders and reduce stigma and to communicate about the supports and programs that we offer.</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Turning Point Décisif</td>
      <td>-</td>
      <td>Chapleau</td>
      <td>705-864-1919</td>
      <td>www.sschs.ca</td>
      <td>-</td>
      <td>Turning Point Décisif is a hub for a variety of community services.  There are services for youth as well as for adults and seniors including additions services, assisted libing, community mental health etc.</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Mnaamodzawin Health Services Inc.</td>
      <td>-</td>
      <td>Aundeck Omni Kaning/Little Current</td>
      <td>705-368-2182</td>
      <td>-</td>
      <td>-</td>
      <td>We provide services to individuals and families within partnering communities which support spiritual, emotional, physical, and mental well-being. Traditional approaches can be incorporated according to clients’ interests and needs. Services, which will be tailored to the unique needs of each client, range from health promotion to treatment, support, and aftercare</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Sheguindah First Nation Health</td>
      <td>-</td>
      <td>Sheguindah</td>
      <td>705-368-1150</td>
      <td>-</td>
      <td>-</td>
      <td>Health centre providing family medical care and community-based health programs * team of family doctors, nurse practitioners and other health care providers * referral to other regional health services\r\n\r\nCulturally appropriate programs and services for Aboriginals, combining traditional health and Western medical practices * aims to improve the social supports and conditions that affect long-term health</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Mental Health &amp; Addictions Counselling Services- Noojmowin Teg Health Centre</td>
      <td>-</td>
      <td>Espanola/Manitoulin</td>
      <td>705-869-1564 ext. 4260 (Espanola)\n\n(705) 368-2182 (Little Current)</td>
      <td>-</td>
      <td>-</td>
      <td>Our program helps to support and promote the overall wholistic and well-being of Anishinabek individuals and families whom are seeking  support for mental health and addictions concerns.\r\n\r\nGeneral supportive counselling and treatment are available to support clients in managing anxiety, depression, the impacts of trauma, grief and loss, as well as addictions.\r\n\r\nSupport and navigation in accessing addictions treatment is also available based on assessment and client led treatment planning.</td>
    </tr>
    <tr>
      <th>68</th>
      <td>Manitoulin Central Family Health Team</td>
      <td>-</td>
      <td>2120B HWY 551 Box 150\r\n\r\nMindemoya, ON P0P 1S0</td>
      <td>705-377-5371</td>
      <td>-</td>
      <td>-</td>
      <td>The Social Worker offers counselling and treatment for mental health issues. This includes: individual counselling/treatment;  self-management of symptoms; a treatment plan and goals in partnership with patients.\r\n\r\nOur goal is to provide timely access to services that will help improve the mental health status of patients.</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Sudbury East Community Health Centre</td>
      <td>-</td>
      <td>5-39, rue Lafontaine Street</td>
      <td>705-599-3004</td>
      <td>https://univi.ca/</td>
      <td>-</td>
      <td>Promoting and improving the health of community residents by providing health promotion programs, disease prevention strategies and timely access to primary health care using an interdisciplinary approach with an emphasis on working with our community partners.</td>
    </tr>
    <tr>
      <th>70</th>
      <td>Manitoulin Mental Health Clinic</td>
      <td>-</td>
      <td>11 Meredith St. Little Current</td>
      <td>705-282-1519</td>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Mental Health Clinic is a Private rehab located in Little Current, Ontario. Manitoulin Mental Health Clinic specializes in the treatment of mental health, substance, drug and alcohol abuse.</td>
    </tr>
    <tr>
      <th>71</th>
      <td>Nadmadwin Mental Health- Wikwemikong Health Centre</td>
      <td>-</td>
      <td>Wikwemikong</td>
      <td>705-859-3164</td>
      <td>-</td>
      <td>-</td>
      <td>Mental health and addiction are real and impact everyone. Our mission is to improve the overall mental health status of community members of all ages. The focus is on one on one clinical counselling as well as community development and training on mental health and addictions issues and awareness.</td>
    </tr>
    <tr>
      <th>72</th>
      <td>SELF-HARM</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>73</th>
      <td>S.A.F.E. (Info Line)</td>
      <td>-</td>
      <td>National</td>
      <td>1-800-366-8288</td>
      <td>-</td>
      <td>-</td>
      <td>Self-Harm/Cutting</td>
    </tr>
    <tr>
      <th>74</th>
      <td>EATING DISORDERS</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>75</th>
      <td>HSN Eating Disorders Program</td>
      <td>-</td>
      <td>-</td>
      <td>705-523-4988 x 4221</td>
      <td>-</td>
      <td>-</td>
      <td>The program offers services to children, adolescents and adults suffering from an eating disorder as well as their families.</td>
    </tr>
    <tr>
      <th>76</th>
      <td>National Eating Disorder Info Centre</td>
      <td>-</td>
      <td>-</td>
      <td>1-866-633-4220</td>
      <td>-</td>
      <td>-</td>
      <td>NEDIC provides information, resources, referrals and support to Canadians affected by eating disorders through our toll-free helpline and instant chat. Outreach and education programming focuses on the awareness and prevention of eating disorders, and is available online across Canada and in-person in the Greater Toronto Area.</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Overeaters Anonymous</td>
      <td>-</td>
      <td>-</td>
      <td>705-207-0877</td>
      <td>-</td>
      <td>-</td>
      <td>Manages a mutual support group designed to help those obsessed with food and self image through a 12-step recovery program * assists individuals to come to terms with the emotional, mental and spiritual part of their obsession * is not a diet or calories club and does not recommend any particular plan of eating, although a food plan is advised</td>
    </tr>
    <tr>
      <th>78</th>
      <td>PEER SUPPORT/FAMILY SUPPORT</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>79</th>
      <td>Family &amp; Friends Education Group</td>
      <td>-</td>
      <td>-</td>
      <td>705-523-4988 x 0</td>
      <td>-</td>
      <td>-</td>
      <td>This is an education group for family &amp; friends who are supporting individuals living with mental illness.\n It is a free service and is open to anyone 16 years of age or older.\n This group will help if you:\n · Want more information about mental illness and the mental health care system so that you can support your family member or friend.\n · Are having trouble overcoming the shock, loss and grief of your loved one’s illness.\n · Feel alone in coping with the impact of your friend’s or family member’s illness.\n · Are having trouble preventing, managing or coping with difficult situations relating\n to your loved one’s situation.</td>
    </tr>
    <tr>
      <th>80</th>
      <td>NISA</td>
      <td>-</td>
      <td>-</td>
      <td>705-222-6472</td>
      <td>-</td>
      <td>-</td>
      <td>NISA/Northern Initiative for Social Action is an organization run by and for people with lived experience of mental health challenges/mental illness. We develop occupational skills, nurture self-confidence and provide resources for recovery by creating opportunities for participants to contribute to their own well-being and that of their community.</td>
    </tr>
    <tr>
      <th>81</th>
      <td>NISA</td>
      <td>Warm Line</td>
      <td>Sudbury, yet serves Ontario communities</td>
      <td>1-866-856-9276</td>
      <td>-</td>
      <td>-</td>
      <td>This program offers peer assistance through pre-crisis telephone support to callers with mental health concerns.</td>
    </tr>
    <tr>
      <th>82</th>
      <td>Living Healthy Northeast Toll Free</td>
      <td>-</td>
      <td>-</td>
      <td>705. 523-7155 1.866.991.7155</td>
      <td>-</td>
      <td>-</td>
      <td>The goal of the program is to have a coordinated approach to support people living with chronic conditions, caregivers and health care providers with self-management education. We offer Self-Management training and workshops to participants, caregivers and health care professionals across the North East Ontario Region. Learn more about the regions of the LHIN on the LHIN Website.</td>
    </tr>
    <tr>
      <th>83</th>
      <td>HOUSING</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Transitional Housing - Victoria Street Place</td>
      <td>-</td>
      <td>338 Victoria Street</td>
      <td>705-675-7252</td>
      <td>-</td>
      <td>-</td>
      <td>The transitional home, Victoria Street Place, will provide seven individuals who would otherwise have been homeless or at risk, to have decent affordable housing for up to eight months. Transitional housing is intended to offer a supportive living environment and tools and opportunities for social and skills development. It is an intermediate step between emergency shelter and having no shelter to supportive housing, with limits on the length of stay. The program requires cooperative living where the tenants, in conjunction with staff, will share the responsibility of managing the household.</td>
    </tr>
    <tr>
      <th>85</th>
      <td>SCHIZOPHRENIA</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>86</th>
      <td>Schizophrenia Society of Ontario</td>
      <td>-</td>
      <td>-</td>
      <td>1-800-449-6367</td>
      <td>-</td>
      <td>-</td>
      <td>The Schizophrenia Society of Ontario is a provincial organization that provides support and advocacy for individuals with schizophrenia, their friends, family and loved ones.</td>
    </tr>
    <tr>
      <th>87</th>
      <td>SSO Sudbury Chapter</td>
      <td>-</td>
      <td>-</td>
      <td>705-693-3067</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>88</th>
      <td>TRAINING</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>89</th>
      <td>CMHA-Canadian Mental Health Association</td>
      <td>-</td>
      <td>-</td>
      <td>705-675-7252</td>
      <td>Applied Suicide Intervention Skills Training (ASIST), Living Life to the Full, Mental Health First Aid, Mental Health Works, safeTALK, Talking About Mental Illness (TAMI)</td>
      <td>-</td>
      <td>Applied Suicide Intervention Training (ASIST) is an award-winning two-day interactive workshop that prepares caregivers to provide life-assisting suicide first-aid intervention using the Pathway for Assisting Life (PAL) model. ASIST provides a unique, life-assisting intervention model to help caregivers support persons at risk. It also helps caregivers contribute to the development of suicide-safer resources in their communities.</td>
    </tr>
    <tr>
      <th>90</th>
      <td>Sue Tasse Consulting Services (ASIST)</td>
      <td>-</td>
      <td>-</td>
      <td>705-566-0791</td>
      <td>-</td>
      <td>-</td>
      <td>Providing private councelling services and ASIST training (Applied Suicide Intervention Skills Training)</td>
    </tr>
    <tr>
      <th>91</th>
      <td>Elizabeth Fry Society</td>
      <td>-</td>
      <td>-</td>
      <td>705-673-1364</td>
      <td>-</td>
      <td>-</td>
      <td>To provide supportive services and practical assistance to persons in conflict with the law or at risk of becoming in conflict with the law, with particular focus on women and young women.\n To provide information and educate women and young women about criminal justice processes and community resources.\n To advocate on behalf of women and young women who are incarcerated, in the court system and in the community.\n To promote community awareness regarding the social conditions that may contribute to women and young women becoming in conflict with the law.</td>
    </tr>
    <tr>
      <th>92</th>
      <td>PET THERAPY</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Magical Pawss Pet Therapy Sudbury Manitoulin</td>
      <td>-</td>
      <td>Sudbury Manitoulin</td>
      <td>Facebook group</td>
      <td>-</td>
      <td>-</td>
      <td>Magical Paws Pet Therapy is a non-profit, unregistered organization founded in Sudbury Ontario with a chapter on Manitoulin Island,</td>
    </tr>
    <tr>
      <th>94</th>
      <td>Service Dogs Sudbury</td>
      <td>-</td>
      <td>Sudbury</td>
      <td>Facebook group</td>
      <td>-</td>
      <td>-</td>
      <td>Breeds and trains service and companion dogs</td>
    </tr>
    <tr>
      <th>95</th>
      <td>Sudbury Therapeutic Riding Program</td>
      <td>-</td>
      <td>2365 Dominion Drive</td>
      <td>705-560-7877</td>
      <td>http://www.strp.ca/</td>
      <td>-</td>
      <td>We are proud to offer a specialized form of horseback riding to people with physical and/or developmental disabilities and mental health issues.</td>
    </tr>
  </tbody>
</table>
	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script>
		function searchTable() {
			var input, filter, found, table, tr, td, i, j;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td");
				for (j = 0; j < td.length; j++) {
					if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
						found = true;
					}
				}
				if (found) {
					tr[i].style.display = "";
					found = false;
				} else {
					tr[i].style.display = "none";
				}
			}
		}
		</script>
</body>
</html>
