
  <head>
    <title>Community Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  </style>
  </head>


<body>
  <ul>
    <li><a href="WELCOME!.html">Home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Data</a>
      <div class="dropdown-content">
        <a href="Abuse.html">Abuse</a>
        <a href="Addictions.html">Addictions</a>
        <a href="AIDS Hepatitis C.html">AIDS Hepatitis C</a>
        <a href="Anger Management.html">Anger Management</a>
        <a href="Bereavement.html">Bereavement</a>
        <a href="Black Lives.html">Black Lives</a>
        <a href="Brain InjuryTumour.html">Brain InjuryTumour</a>
        <a href="Clothing Donations.html">Clothing Donations</a>
        <a href="Community Programs.html">Community Programs</a>
        <a href="Disability.html">Disability</a>
        <a href="Education.html">Education</a>
        <a href="Emergency Services.html">Emergency Services</a>
        <a href="Employment Services.html">Employment Services</a>
        <a href="Family Services.html">Family Services</a>
        <a href="Financial.html">Financial</a>
        <a href="Food Banks.html">Food Banks</a>
        <a href="Francophones.html">Francophones</a>
        <a href="Government.html">Government</a>
        <a href="Healthcare.html">Healthcare</a>
        <a href="Homelessness.html">Homelessness</a>
        <a href="Housing.html">Housing</a>
        <a href="Indigenous People.html">Indigenous People</a>
        <a href="Legal Assistance.html">Legal Assistance</a>
        <a href="LGBTQ2S+.html">LGBTQ2S+</a>
        <a href="Mental Health.html">Mental Health</a>
        <a href="Newcomers.html">Newcomers</a>
        <a href="Older Adults.html">Older Adults</a>
        <a href="Pregnancy.html">Pregnancy</a>
        <a href="Transportation.html">Transportation</a>
        <a href="Youth.html">Youth</a>
      </div>
    </li>
  </ul>

				<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Pregnancy</h2>
							
						</div>

					</div>
				</div>
	

<input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for ...">

<table border="1" class="dataframe" id="myTable">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>z ZB</th>
      <th>Service Name</th>
      <th>Service Location</th>
      <th>Contact</th>
      <th>Service Description</th>
      <th>Additional Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>-</td>
      <td>Baby's Breath</td>
      <td>Sudbury</td>
      <td>705-671-1941 x 229</td>
      <td>Baby’s Breath program provides support to identify challenges that pregnant and parenting teenagers, their partners, family and friends face. We share experiences, offer nutritional support, provide a social environment, prenatal and parenting education, while increasing their knowledge of fetal/child growth and development. It also offers a meal program at the beginning of each program for teen parents and their babies. Partners and support persons are welcome and confidentiality is highly respected.</td>
      <td>Location(s): Better Beginnings Better Futures – Main Site 450 Morin Avenue, Sudbury, Ontario, P3C 5H6 (Corner or Morin Avenue and King Street)\n Schedule of Operation: Prenatal Classes are every Monday (except holidays) from 4 p.m. to 6 p.m.\n Parenting Group is every Tuesday from 5 pm to 7:30 pm</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-</td>
      <td>Baby's Breath</td>
      <td>Chelmsford</td>
      <td>705-671-1941 x 230</td>
      <td>Baby’s Breath program provides support to identify challenges that pregnant and parenting teenagers, their partners, family and friends face. We share experiences, offer nutritional support, provide a social environment, prenatal and parenting education, while increasing their knowledge of fetal/child growth and development. It also offers a meal program at the beginning of each program for teen parents and their babies. Partners and support persons are welcome and confidentiality is highly respected.</td>
      <td>Prenatal/Parenting at Rayside Balfour Youth Centre in Chelmsford every Monday (except holidays) from 4 p.m. to 6 p.m. Contact Person(s): Johanne Thompson, Program Manager\n Email: johannet@betterbeginningssudbury.ca</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-</td>
      <td>Birthright</td>
      <td>Sudbury 24/7 hotline</td>
      <td>705-673-7200 1-800-550-4900</td>
      <td>Birthright is available to women for as long as they need us. We offer love, friendship, and support to women who are pregnant or think they may be pregnant. Birthright is interdenominational and is not involved in any political activities, or lobbying. Birthright’s focus is on loving the mother, reminding her that there is hope and ensuring she is not alone.</td>
      <td>66 Elm St.\n Unit 112 Sudbury Ontario P3C1R8, Canada</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-</td>
      <td>Our Children, Our Future</td>
      <td>Sudbury</td>
      <td>705-677-0440 Toll Free: (888) 677-0440</td>
      <td>Empowering and supporting children as well as families to foster a healthy future for our communities.</td>
      <td>Our Children, Our Future / Nos enfants, notre avenir\n 201 Jogues St. Sudbury, ON P3C 5L7\n Phone: (705) 677-0440 | Toll Free: (888) 677-0440 | Email: mail@ocof.net</td>
    </tr>
    <tr>
      <th>5</th>
      <td>-</td>
      <td>Manitoulin Maternity Care</td>
      <td>15 Meredith St. Little Current, ON</td>
      <td>705-368-2450\n</td>
      <td>Prenatal, labour and delivery, and postpartum services</td>
      <td>info@manitoulinmaternity.com\nhttps://www.manitoulinmaternity.com/</td>
    </tr>
    <tr>
      <th>6</th>
      <td>-</td>
      <td>Pregnancy Care of Sudbury</td>
      <td>Sudbury</td>
      <td>705-673-5003</td>
      <td>Our mission is to meet the health, material and spiritual needs of expectant families or their children by providing information, education, supplies and support with compassion, dignity and respect.\n \n  We offer valuable services at no cost to our clients or the government.\n \n In addition to our services we offer referrals for adoption, community services, pastoral care, and professional care.</td>
      <td>1032 Lasalle Blvd. \n http://pccifb.ca Opening Hours\n Mon-Wed 10:00 - 14:00</td>
    </tr>
    <tr>
      <th>7</th>
      <td>-</td>
      <td>Public Health Sudbury &amp; District</td>
      <td>Sudbury Main office</td>
      <td>705-522-9200</td>
      <td>Working with our communities to promote and protect health and to prevent disease for everyone.</td>
      <td>1300 Paris Street\n Sudbury, ON P3E 3A3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>-</td>
      <td>-</td>
      <td>Elm Place site (formerly Rainbow Centre)</td>
      <td>705.522.9200</td>
      <td>Specialized services only: sexual health services, Growing Family Health Clinic, immunizations</td>
      <td>Elm Place\n 10 Elm Street, Unit 130\n Sudbury, ON P3C 5N3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>-</td>
      <td>-</td>
      <td>Sudbury East office</td>
      <td>705.222.9201</td>
      <td>Specialized services only: sexual health services, Growing Family Health Clinic, immunizations</td>
      <td>1 King Street\n Box 58\n St. Charles, ON P0M 2W0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>-</td>
      <td>-</td>
      <td>Val Caron site</td>
      <td>705.522.9200, ext. 342</td>
      <td>Specialized services only: sexual health services, Growing Family Health Clinic, immunizations</td>
      <td>1679 Main Street\n Val Caron, ON P3N 1R8\n Specialized services only: breastfeeding clinic services, by appointment only</td>
    </tr>
    <tr>
      <th>11</th>
      <td>-</td>
      <td>-</td>
      <td>Chapleau office</td>
      <td>705.522.9200</td>
      <td>Specialized services only: sexual health services, Growing Family Health Clinic, immunizations</td>
      <td>101 Pine Street EasMain office\n 1300 Paris Street\n Sudbury, ON P3E 3A3</td>
    </tr>
    <tr>
      <th>12</th>
      <td>-</td>
      <td>-</td>
      <td>Espanola office</td>
      <td>705.222.9202</td>
      <td>Specialized services only: sexual health services, Growing Family Health Clinic, immunizations</td>
      <td>Espanola Mall\n 800 Centre Street\n Unit 100 C\n Espanola, ON P5E 1J3</td>
    </tr>
    <tr>
      <th>13</th>
      <td>-</td>
      <td>-</td>
      <td>Manitoulin Island office</td>
      <td>705.370.9200</td>
      <td>Specialized services only: sexual health services, Growing Family Health Clinic, immunizations</td>
      <td>6163 Highway 542\n Box 87\n Mindemoya, ON P0P 1S0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>-</td>
      <td>The MotHERS Program</td>
      <td>Sudbury</td>
      <td>705-674-3181</td>
      <td>Our goal is to help women who are contemplating pregnancy, are pregnant or are now new mothers, keep up-to-date on the latest medical information; healthy pregnancies lead to healthy children and healthy adults.</td>
      <td>www.hsnsudbury.ca</td>
    </tr>
    <tr>
      <th>15</th>
      <td>-</td>
      <td>-</td>
      <td>Little Current</td>
      <td>705-368-2300</td>
      <td>Our goal is to help women who are contemplating pregnancy, are pregnant or are now new mothers, keep up-to-date on the latest medical information; healthy pregnancies lead to healthy children and healthy adults.</td>
      <td>www.mhc.on.ca</td>
    </tr>
    <tr>
      <th>16</th>
      <td>-</td>
      <td>-</td>
      <td>Mindemoya</td>
      <td>705-377-5311</td>
      <td>Our goal is to help women who are contemplating pregnancy, are pregnant or are now new mothers, keep up-to-date on the latest medical information; healthy pregnancies lead to healthy children and healthy adults.</td>
      <td>www.mhc.on.ca</td>
    </tr>
    <tr>
      <th>17</th>
      <td>-</td>
      <td>-</td>
      <td>Chapleau</td>
      <td>705-864-1520</td>
      <td>Our goal is to help women who are contemplating pregnancy, are pregnant or are now new mothers, keep up-to-date on the latest medical information; healthy pregnancies lead to healthy children and healthy adults.</td>
      <td>www.sschs.ca</td>
    </tr>
    <tr>
      <th>18</th>
      <td>-</td>
      <td>HSN - Options Clinic</td>
      <td>-</td>
      <td>705-671-5265</td>
      <td>Our goal is to help women who are contemplating pregnancy, are pregnant or are now new mothers, keep up-to-date on the latest medical information; healthy pregnancies lead to healthy children and healthy adults.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>19</th>
      <td>-</td>
      <td>Perinatal Mental Health Prog</td>
      <td>-</td>
      <td>705-523-4988 x 4242</td>
      <td>The Perinatal Mental Health Program provides mental health services for mothers 16 years of age or older experiencing depression and anxiety during pregnancy and up to 12 months after the baby is born.\n  \n Services provided include\n - Individual assessment and treatment\n - Family assessment and support\n - Referral to community resources\n Self-referrals as well as referrals from community agencies, family doctors, obstetricians, midwives and mental health professionals are accepted.</td>
      <td>127 Cedar Street, Sudbury</td>
    </tr>
    <tr>
      <th>20</th>
      <td>-</td>
      <td>Manitoulin Midwifery</td>
      <td>Manitoulin</td>
      <td>705-210-0737\n705-859-1801</td>
      <td>Midwifery care provided including prenatal, birth and postpartum services</td>
      <td>babies@amtelecom.net</td>
    </tr>
  </tbody>
</table>
	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script>
		function searchTable() {
			var input, filter, found, table, tr, td, i, j;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td");
				for (j = 0; j < td.length; j++) {
					if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
						found = true;
					}
				}
				if (found) {
					tr[i].style.display = "";
					found = false;
				} else {
					tr[i].style.display = "none";
				}
			}
		}
		</script>
</body>
</html>
