
  <head>
    <title>Community Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  </style>
  </head>


<body>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Data</a>
      <div class="dropdown-content">
        <a href="Abuse.html">Abuse</a>
        <a href="Addictions.html">Addictions</a>
        <a href="AIDS Hepatitis C.html">AIDS Hepatitis C</a>
        <a href="Anger Management.html">Anger Management</a>
        <a href="Bereavement.html">Bereavement</a>
        <a href="Black Lives.html">Black Lives</a>
        <a href="Brain InjuryTumour.html">Brain InjuryTumour</a>
        <a href="Clothing Donations.html">Clothing Donations</a>
        <a href="Community Programs.html">Community Programs</a>
        <a href="Disability.html">Disability</a>
        <a href="Education.html">Education</a>
        <a href="Emergency Services.html">Emergency Services</a>
        <a href="Employment Services.html">Employment Services</a>
        <a href="Family Services.html">Family Services</a>
        <a href="Financial.html">Financial</a>
        <a href="Food Banks.html">Food Banks</a>
        <a href="Francophones.html">Francophones</a>
        <a href="Government.html">Government</a>
        <a href="Healthcare.html">Healthcare</a>
        <a href="Homelessness.html">Homelessness</a>
        <a href="Housing.html">Housing</a>
        <a href="Indigenous People.html">Indigenous People</a>
        <a href="Legal Assistance.html">Legal Assistance</a>
        <a href="LGBTQ2S+.html">LGBTQ2S+</a>
        <a href="Mental Health.html">Mental Health</a>
        <a href="Newcomers.html">Newcomers</a>
        <a href="Older Adults.html">Older Adults</a>
        <a href="Pregnancy.html">Pregnancy</a>
        <a href="Transportation.html">Transportation</a>
        <a href="Youth.html">Youth</a>
      </div>
    </li>
  </ul>

				<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Transportation</h2>
							
						</div>

					</div>
				</div>
	

<input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for ...">

<table border="1" class="dataframe" id="myTable">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Category</th>
      <th>Service Name</th>
      <th>Service Location</th>
      <th>Contact</th>
      <th>Service Description</th>
      <th>Additional Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>-</td>
      <td>GOVA – PUBLIC TRANSPORTATION</td>
      <td>Sudbury area</td>
      <td>For routes, schedules, fares and more call 705-675-3333 Mondays to Fridays from 8 a.m. to 7:30 p.m. and weekends from 9 a.m. to 4 p.m. Transit photo ID, Ride Cards\n and Passes are available at the\n Downtown Transit Hub.\n  9 Elm St., Sudbury.</td>
      <td>GOVA Transit offers an entire fleet of accessible conventional buses. Accessible features include low floors to replace steps, automated wheelchair ramps, fold-up seats for mobility devices, auditory stop call-out and visual display screens and priority seating for persons with disabilities. For those individuals who cannot use conventional GOVA service for all their travel needs, GOVA Plus provides a door-to-door service with specialized vehicles. Passengers must complete an application form and be approved in order to use this service. Fares and Passes:\n Senior 65 and up\n (with transit photo ID)\n One Ride $3.50\n 6 Ride Card $15\n 31 Day Pass $56\n Disability Pensioner\n (with transit photo ID)\n One Ride $3.50\n 6 Ride Card $15\n 31 Day Pass $56\n Adult\n One Ride $3.50\n 6 Ride Card $17.50\n 31 Day Pass $88\n Children 5 to 12\n One Ride $3.50\n 6 Ride Card $15\n 31 Day Pass $56\n Children 4 and under FREE</td>
      <td>transit@greatersudbury.ca greatersudbury.ca/transit</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-</td>
      <td>Handi-Transit</td>
      <td>Sudbury area</td>
      <td>705-670-2300</td>
      <td>GOVA Plus provides transportation services to individuals whose level of disability prevents them from using the conventional transit system. GOVA Plus provides door-to-door transportation with specialized accessible buses, supplemented with conventional taxi services when necessary. Passengers must complete an application form and be approved as a registered client with GOVA Plus before booking any rides. Eligibility for GOVA Plus may be reassessed at any time. GOVA Plus provides transportation every day of the year between 7 a.m. and midnight. GOVA Plus bookings must be made in advance and requested times are subject to system availability. GOVA Plus is a shared ride, door-to-door service. Please remember that this is a bus service and not a taxi service. Trips may be detoured to pick up other passengers. The geographic area served by GOVA Plus matches the area served by conventional GOVA and GOVA Zone services.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-</td>
      <td>Red Cross (Transportation)</td>
      <td>Sudbury</td>
      <td>705-674-0737</td>
      <td>The Canadian Red Cross provides transportation service for those in need, such as elderly or disabled in the community, who are unable to use public transportation or private means. Our service keeps people connected in their community by providing affordable transportation to social gatherings, escorts to medical appointments or even for a shopping excursion. With a combination of cars and mid-sized vans, as well as accessible vehicles, we have the transportation service delivery and coordination expertise to meet your community’s transportation needs.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-</td>
      <td>Aging At Home Transportation - Noojmowin Teg Health Centre</td>
      <td>Manitoulin</td>
      <td>705-368-2182</td>
      <td>Offers transportation services for Manitoulin Island elders. Provides door-to-door transportation for medical appointments, errands, banking and shopping, traditional gatherings and social/community events. Assists with embarking and disembarking the van.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>5</th>
      <td>-</td>
      <td>Espanola Care Van</td>
      <td>Espanola</td>
      <td>705-869-1540 (Registration) or 705-862-0244 (Info)</td>
      <td>Provides transportation services to individuals who are 55 years of age or older and/or who have a physical or mental disability</td>
      <td>-</td>
    </tr>
    <tr>
      <th>6</th>
      <td>-</td>
      <td>Goshenite Senior Services - Transportation Program</td>
      <td>Hanmer</td>
      <td>705-698-5318</td>
      <td>Assists seniors with transportation to and from appointments\n Provides door-to-door transportation to medical or dental appointments, grocery shopping or for community or family events\n Accompanies individuals into their appointment if needed</td>
      <td>-</td>
    </tr>
    <tr>
      <th>7</th>
      <td>-</td>
      <td>Home Instead Senior Care</td>
      <td>Sudbury</td>
      <td>705-523-1600</td>
      <td>From personal care to Alzheimer's care to transportation, Home Instead services make life easier for seniors and their famiies.</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script>
		function searchTable() {
			var input, filter, found, table, tr, td, i, j;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td");
				for (j = 0; j < td.length; j++) {
					if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
						found = true;
					}
				}
				if (found) {
					tr[i].style.display = "";
					found = false;
				} else {
					tr[i].style.display = "none";
				}
			}
		}
		</script>
</body>
</html>
