
  <head>
    <title>Community Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  </style>
  </head>


<body>
  <ul>
    <li><a href="WELCOME!.html">Home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Data</a>
      <div class="dropdown-content">
        <a href="Abuse.html">Abuse</a>
        <a href="Addictions.html">Addictions</a>
        <a href="AIDS Hepatitis C.html">AIDS Hepatitis C</a>
        <a href="Anger Management.html">Anger Management</a>
        <a href="Bereavement.html">Bereavement</a>
        <a href="Black Lives.html">Black Lives</a>
        <a href="Brain InjuryTumour.html">Brain InjuryTumour</a>
        <a href="Clothing Donations.html">Clothing Donations</a>
        <a href="Community Programs.html">Community Programs</a>
        <a href="Disability.html">Disability</a>
        <a href="Education.html">Education</a>
        <a href="Emergency Services.html">Emergency Services</a>
        <a href="Employment Services.html">Employment Services</a>
        <a href="Family Services.html">Family Services</a>
        <a href="Financial.html">Financial</a>
        <a href="Food Banks.html">Food Banks</a>
        <a href="Francophones.html">Francophones</a>
        <a href="Government.html">Government</a>
        <a href="Healthcare.html">Healthcare</a>
        <a href="Homelessness.html">Homelessness</a>
        <a href="Housing.html">Housing</a>
        <a href="Indigenous People.html">Indigenous People</a>
        <a href="Legal Assistance.html">Legal Assistance</a>
        <a href="LGBTQ2S+.html">LGBTQ2S+</a>
        <a href="Mental Health.html">Mental Health</a>
        <a href="Newcomers.html">Newcomers</a>
        <a href="Older Adults.html">Older Adults</a>
        <a href="Pregnancy.html">Pregnancy</a>
        <a href="Transportation.html">Transportation</a>
        <a href="Youth.html">Youth</a>
      </div>
    </li>
  </ul>

				<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Welcome!</h2>
							
						</div>

					</div>
				</div>
	

<input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for ...">

<table border="1" class="dataframe" id="myTable">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>WELCOME TO THE COMMUNITY SERVICES DATABASE !</th>
      <th>Unnamed: 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>In January 2021, the Executive Director Ms. Jackie Balleny of Sudbury District Restorative Justice/Justice Réparatrice du District de Sudbury embarked on a gap analysis study of social services offered in the Sudbury/Manitoulin catchment area. The Gap Analysis was done for the Violent Risk Threat Assessment steering committee to inform their strategic vision of establishing a tragic event response team.  The database was created to inform the Gap Analysis work.  This database includes the City of Greater Sudbury, Espanola, the communities of Manitoulin Island, Chapleau, the Métis Nation, the Indigenous Communities of Atikameksheng Anishanawbek, Wahnapitae First Nation, Whitefish River First Nation, M'Chigeeng First Nation, Sheguiandah First Nation, Sheshegwaning First Nation, Aundeck Omni Kaning First Nation, Zhiibaahaasing First Nation, Chapleau Ojibwe First Nation, the Chapleau Cree First Nation, Brunswick House First Nation, and the Unceded Territory of Wikwemikoong.</td>
      <td>You are free to share and adapt this database for non-commercial purposes, with appropriate attribution. For a full, legal description of our copyright notice, please see the below link:             https://creativecommons.org/licenses/by-nc-sa/4.0/</td>
    </tr>
    <tr>
      <th>2</th>
      <td>We are grateful to the assistance of the Manitoulin-Sudbury District Services Board for their contributions and to Cambrian College Systems Navigation and Social Service Worker students.  In addition, Future North has created an interactive commmunity map using the data from this database and it can be viewed at futurenorth.ca</td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>In order to accurately portray the social service network available in these communities, SDRJ embarked on a journey of perusing phone books, town and city websites, Ontario 211, Northeast Health Line, and general internet searching for services. These services were entered into a database, which we now make available to all. SDRJ/JDRS reviews the database annually to update information. The agency also updates services when information/corrections are directly sent to us using the form located below. Conversely, you can email us at jackie@sdrj.ca</td>
      <td>NOTICE TO SERVICE PROVIDERS</td>
    </tr>
    <tr>
      <th>4</th>
      <td>https://forms.gle/KFrHpttoyx4AV4t26</td>
      <td>To enhance client access to your service, this database can include service referral information. Please consider emailing (jackie@sdrj.ca) referral forms and/or web links to your service referral process. This information will be included in the Additional Information column adjacent to the Service Description.</td>
    </tr>
    <tr>
      <th>5</th>
      <td>This is an unfunded project; if you wish to help fund this project, please contact SDRJ/JDRS at info@sdrj.ca.</td>
      <td>This resource was created by Sudbury District Restorative Justice/Justice Réparatice du District de Sudbury. If service providers wish to make changes OR make additions OR be included in this database, please complete and return the following form:</td>
    </tr>
    <tr>
      <th>6</th>
      <td>NOTICE TO USERS</td>
      <td>https://forms.gle/KFrHpttoyx4AV4t26</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Data compiled for this resource was acquired from the public domain of web-published resources. Accuracy is not guaranteed as services change and close or move locations. Some resources are no-fee, others are fee for service. It is important to contact the service directly to determine fees/rates.</td>
      <td>You may also email: jackie@sdrj.ca to add/delete/change information.</td>
    </tr>
    <tr>
      <th>8</th>
      <td>The intent of the resource database is a "living document" that is freely accessible to all. More work is being done to investigate other technology to share the database. If you use this content to develop your own asset mapping tool, please reference SDRJ/JDRS. You may use this database and are encouraged to freely share this for wide community use.</td>
      <td></td>
    </tr>
  </tbody>
</table>
	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script>
		function searchTable() {
			var input, filter, found, table, tr, td, i, j;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td");
				for (j = 0; j < td.length; j++) {
					if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
						found = true;
					}
				}
				if (found) {
					tr[i].style.display = "";
					found = false;
				} else {
					tr[i].style.display = "none";
				}
			}
		}
		</script>
</body>
</html>
